section#section_one {
	width:100%;
	height:926px;
	position: relative;
}


.sec_one_bg_wrapper {
	display: flex;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


.sec_one_left {
	height:100%;
	flex-shrink:0;
	flex-basis:1240px;
	background: $bluegrad;
}

.sec_one_right {
	position: relative;
	flex-grow:1;
	img {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit:cover;
	}
}


.sec_one_content {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	z-index: 1;
}

.sec_one_content_inner {
	max-width:1585px;
	margin:0 auto;
	height:300px;
	display: flex;
}


.sec_one_vid_wrapper {
	flex-basis:317px;
	flex-shrink:0;
	margin-top:78px;
	span.video_title {
		display:block;
		position: relative;
		padding-left:68px;
		color:#fff;
		font-size: 16px;
		line-height: 24px;
		margin-top:18px;
		@include proxima_semibold;
		&:before {
			content:"";
			display: inline-block;
			width:44px;
			height:3px;
			background:$redlight;
			position: absolute;
			top:11px;
			left:0;
		}
	}
}

.sec_one_video_thumb_wrapper {
	overflow: hidden;
	height:400px;
	background: red;
	position: relative;
	cursor: pointer;
	svg#play_button {
		.st0-play, .st1-play {
			transition: all 200ms ease-in-out;
		}
	}
	&:hover {
		svg#play_button {
			.st0-play {
				fill:#FFFFFF;
			}
			.st1-play {
				fill:#E12619;
			}
		}
	}
	img.video_thumb {
		width:100%;
		height:100%;
		display: block;
		position: absolute;
		top:0;
		left:0;
		object-fit:cover;
		
	}
	svg#play_button {
		position: absolute;
		z-index:1;
		top:165px;
		left:117px;
	}
}

.sec_one_title_wrapper {
	flex-grow: 1;
	
}


svg#play_button {
	
	.st0-play {
		fill:#E12619;
	}
	.st1-play {
		fill:#fff;
	}
}