#section_four {
	padding-bottom:100px;
}


.sec_four_top {
	position: relative;
	width:100%;
	height:911px;
	img {
		width:100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
		object-fit:cover;
	}
}


.sec_four_top_content {
	text-align: center;
	position: relative;
	z-index:1;
	padding:170px 45px 0;
	span {
		color:#fff;
		display:block;
		font-size: 74px;
		line-height: 74px;
		@include operetta;
		br {
			display: none;
		}
	}
}


a.results_button {
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
	background: $redlight;
	font-size: 16px;
	border-radius: 45px;
	text-align: center;
	margin-top:60px;
	letter-spacing: 0.28em;
	padding:27px 44px 23px;
	display: inline-block;
	box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.3);
	transition: all 300ms ease-in-out;
	@include proxima_black;
	&:hover {
		background: #fff;
		color:$red;
	}
}


.sec_four_slider_wrapper {
	max-width:1888px;
	margin:-423px auto 0;
	position: relative;
	z-index:1;
	padding:0 60px;
}

.sec_four_slider {
	padding-bottom: 80px;
	.slick-slide {
	    margin: 0 30px;
	  }
	  .slick-list {
	    margin: 0 -30px;
	  }
	  .slick-dots {
	  	bottom: 0px;
	  	li.slick-active {
	  		button {
	  			&:before {
	  				color:$redlight;
	  			}
	  		}
	  	}
	  	li:hover {
	  		button {
	  			&:before {
	  				color:$redlight;
	  			}
	  		}
	  	}
	  	li {
	  		margin:0 3px 0;
	  		width:16px;
	  		button {
	  			width:16px;
	  			&:before {
	  				width:16px;
	  				opacity: 1;
	  				color: $black;
	  				font-size:43px;
	  				transition: all 200ms ease-in-out;
	  			}
	  		}
	  	}
	  }
}

.sec_four_slide {
	height:652px;
	position: relative;
	&:before {
		content:"";
		display: block;
		position: absolute;
		z-index:1;
		top:0;
		left:52px;
		width:calc(100% - 104px);
		height:100%;
		border: 1px solid;
		border-image: linear-gradient(58deg, rgb(252,179,110), rgb(183,120,62)) 1;
	}
	&:after {
		content:"";
		display: block;
		position: absolute;
		top:50px;
		left:0;
		width:100%;
		height:calc(100% - 100px);
		background: $offwhite;
	}
}


.sec_four_slide_inner {
	position: relative;
	padding: 183px 53px 0;
	z-index:1;
	text-align: center;
	span {
		display: block;
	}
	span.amount {
		font-size: 100px;
		color:$redlight;
		@include operetta;
	}
	span.description {
		font-size: 22px;
		line-height: 34px;
		color:$black;
		margin:60px auto 0;
		max-width: 324px;
		@include proxima_semibold;
		br {
			display: none;
		}
	}
}

.sec_four_selling_points {
	max-width: 1690px;
	padding-left:120px;
	padding-right: 120px;
	margin:127px auto 0;
}

.sec_four_selling_point {
	padding-bottom:96px;
	span.number {
		display: flex;
		color:$redlight;
		font-size: 18px;
		letter-spacing: 0.15em;
		align-items: center;
		@include proxima_black;
		&:after {
			content:"";
			flex-grow:1;
			background: $gold;
			height:1px;
			margin-left:11px;
		}
	}
	.sec_four_sp_inner {
		display: flex;
		.sec_four_sp_left {
			flex-basis:49%;
			margin-top:48px;
			padding-right:50px;
			span {
				font-size: 50px;
				line-height: 70px;
				display: inline-block;
				color:$gold;
				max-width: 506px;
				  @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
				  	background: $goldgrad;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
				 	}
				@include operetta;
				br {
					display: none;
				}
			}
		}
		.sec_four_sp_right {
			flex-basis:51%;
			margin-top:49px;
		}
		.sec_four_sp_right.content {
			color:$black;
		}
	}
}

@media screen and (max-width: 1640px) {
	
	
	.sec_four_top {
		height:827px;
	}
	
	.sec_four_top_content {
    padding: 113px 45px 0;
	}
	
	.sec_four_slider_wrapper {
		max-width:1360px;
	}
	
	a.results_button {
		margin-top: 56px;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	#section_four {
    padding-bottom: 40px;
	}
	
	.sec_four_selling_points {
		margin: 107px auto 0;
	}
	
	.sec_four_selling_point {
		padding-bottom: 69px;
		.sec_four_sp_inner {
			.sec_four_sp_left {
				flex-basis:46%;
				span {
					font-size: 45px;
					line-height: 60px;
					max-width: 396px;
					br {
						display: inline-block;
					}
				}
			}
			.sec_four_sp_right.content {
				margin-top:46px;
				flex-basis:54%;
			}
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1100px) {
	
	
	#section_four {
    padding-bottom: 10px;
	}
	
	
	.sec_four_top {
		height:846px;
	}
	
	.sec_four_top_content {
		padding: 82px 45px 0;
		span {
			br {
				display: inline-block;
			}
		}
	}
	
	a.results_button {
    margin-top: 49px;
	}
	
	.sec_four_slider_wrapper {
		margin: -409px auto 0;
		max-width:700px;
	}
	
	.sec_four_selling_points {
		padding-left:60px;
		padding-right:60px;
		max-width:770px;
	}
	
	.sec_four_selling_point {
		padding-bottom: 38px;
		.sec_four_sp_inner {
			display: block;
			.sec_four_sp_left {
				padding-right:0;
				margin-top: 46px;
				span {
					max-width: 100%;
					br {
						display: none;
					}
				}
			}
			.sec_four_sp_right.content {
				margin-top: 24px;
			}
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	#section_four {
    padding-bottom: 5px;
	}
	
	.sec_four_top {
		height:707px;
	}
	
	.sec_four_top_content {
		padding: 62px 30px 0;
		span {
			font-size: 58px;
			line-height: 64px;
			margin-left:auto;
			margin-right:auto;
			max-width: 300px;
		}
	}
	
	
	.sec_four_slider_wrapper {
    margin: -289px auto 0;
    max-width: 530px;
    padding: 0 30px;
  }
  
  .sec_four_slider {
    padding-bottom: 59px;
	}
	
	
	.sec_four_slide {
		height:auto;
		&:before {
			left:30px;
			width:calc(100% - 60px);
		}
		&:after {
			top:30px;
			height:calc(100% - 60px);
		}
	}
	
	
	.sec_four_slide_inner {
		padding: 112px 53px 110px;
		span.amount {
			font-size: 82px;
			line-height: 82px;
		}
		span.description {
			margin: 46px auto 0;
			font-size: 20px;
			line-height: 32px;
			max-width: 192px;
			br {
				display: inline-block;
			}
		}
	}
	
	
	a.results_button {
    margin-top: 25px;
	}
	
	
	.sec_four_selling_points {
    margin: 61px auto 0;
    padding:0 30px;
    max-width: 600px;
	}
	
	
	.sec_four_selling_point {
		padding-bottom: 20px;
		.sec_four_sp_inner {
			.sec_four_sp_left {
				margin-top: 35px;
				span {
					font-size: 38px;
					line-height: 54px;
					br {
						
					}
				}
			}
			.sec_four_sp_right.content {
				margin-top: 14px;
			}
		}
	}
	
	
} /* Media Query */




@media screen and (max-width: 410px) {
	
	
	.sec_four_slide_inner {
		span.amount {
			font-size: 70px;
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 390px) {
	
	
	
	a.results_button {
  	width:100%;
  	padding-left:0;
  	padding-right:0;
  	max-width:305px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 375px) {
	
	
	.sec_four_slide_inner {
		span.amount {
			font-size: 55px;
		}
	}
	
	
	
} /* Media Query */