

#section_three {
	width:100%;
	background: $bluegrad;
	padding:0 88px;
	height:3000px;
	
}


.sec_three_inner {
	//max-width:1044px;
	margin:0 auto;
	display: flex;
	padding:0px 0 0 50px;
}


.sec_three_slider_wrapper {
	flex-grow: 1;
	margin-top:70px;
}


.star_title {
	img.stars {
		width:174px;
		height:171px;
	}
	span.star_title {
		display: block;
		text-transform: uppercase;
		color:$red;
		font-size: 20px;
		letter-spacing: 0.2em;
		margin:-77px 0 0 76px;
		@include proxima_black;
	}
}

.sec_three_slider {
	padding: 0 149px 0 75px;
}

.sec_three_slide {
	margin-top:101px;
}

span.sec_three_slide_content {
	display: block;
	font-size: 74px;
	line-height: 95px;
	color:$gold;
	  @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
	  	background: $goldgrad;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
	 	}
	@include operetta;
}


.sec_three_image_wrapper {
	flex-basis:531px;
	flex-shrink: 0;
	overflow: hidden;
	margin-top:-98px;
	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
	
}