section#section_one {
	width:100%;
	height:926px;
	position: relative;
}


.sec_one_bg_wrapper {
	display: flex;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


.sec_one_left {
	height:100%;
	flex-shrink:0;
	flex-basis:1240px;
	background: $bluegrad;
}

.sec_one_right {
	position: relative;
	flex-grow:1;
	img {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit:cover;
	}
}