#section_one {
	width:100%;
	min-height:550px;
	//height:926px;
	position: relative;
}


.sec_one_bg_wrapper {
	display: flex;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


.sec_one_left {
	height:100%;
	flex-shrink:0;
	flex-basis:1240px;
	background: $bluegrad;
}

.sec_one_right {
	position: relative;
	flex-grow:1;
	img {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit:cover;
	}
}


.sec_one_content {
	position: relative;
	z-index: 1;
}

.sec_one_content_inner {
	max-width: 1653px;
	margin:0 auto;
	display: flex;
	padding: 0 0 384px 60px;
}


.sec_one_vid_wrapper {
	flex-basis:317px;
	flex-shrink:0;
	margin-top:78px;
	span.video_title {
		display:block;
		position: relative;
		padding-left:68px;
		color:#fff;
		font-size: 16px;
		line-height: 24px;
		margin-top:18px;
		@include proxima_semibold;
		&:before {
			content:"";
			display: inline-block;
			width:44px;
			height:3px;
			background:$redlight;
			position: absolute;
			top:11px;
			left:0;
		}
	}
}

.sec_one_video_thumb_wrapper {
	overflow: hidden;
	height:400px;
	background: red;
	position: relative;
	cursor: pointer;
	svg#play_button {
		width:91px;
		height:91px;
		.st0-play, .st1-play {
			transition: all 200ms ease-in-out;
		}
	}
	&:hover {
		svg#play_button {
			.st0-play {
				fill:#FFFFFF;
			}
			.st1-play {
				fill:#E12619;
			}
		}
	}
	img.video_thumb {
		width:100%;
		height:100%;
		display: block;
		position: absolute;
		top:0;
		left:0;
		object-fit:cover;
		
	}
	svg#play_button {
		position: absolute;
		z-index:1;
		top:165px;
		left:117px;
	}
}

.sec_one_title_wrapper {
	flex-grow: 1;
	padding:95px 0 0 155px;
	span.sec_one_header {
		display: block;
		font-size: 107px;
		line-height: 114px;
		color:#b7783e;
		max-width: 920px;
		  @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
		  	background: $goldgrad;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
		 	}
		@include operetta;
	}
}


svg#play_button {
	filter: drop-shadow( 0 7px 9px rgba(0, 0, 0, 0.8));
	.st0-play {
		fill:#E12619;
	}
	.st1-play {
		fill:#fff;
	}
}

a.button {
	margin-top:35px;
	background: $red;
	color:#fff;
	padding:27px 37px 23px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	border-radius: 45px;
	letter-spacing: 0.28em;
	box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.3);
	transition: all 200ms ease-in-out;
	@include proxima_black;
	&:hover {
		background: #fff;
		color:$red;
	}
}


@media screen and (max-width: 1662px) {
	
	.sec_one_title_wrapper {
		padding: 95px 0 0 90px;
	}
	
	.sec_one_left {
		flex-basis: 1070px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	.sec_one_content_inner {
		padding: 0 0 415px 60px;
	}
	
	.sec_one_vid_wrapper {
		margin-top:60px;
		flex-basis:287px;
		span.video_title {
			max-width: 256px;
		}
	}
	
	
	.sec_one_video_thumb_wrapper {
		height:361px;
		svg#play_button {
			top: 133px;
			left: 117px;
		}
	}
	
	
	.sec_one_title_wrapper {
		span.sec_one_header {
			font-size: 86px;
			line-height: 90px;
			max-width: 730px;
		}
	}
	
	
	.sec_one_left {
		flex-basis: 930px;
	}
	
	a.button {
		margin-top: 32px;
	}
	
	
} /* Media Query */

@media screen and (max-width: 1350px) {
	
	.sec_one_left {
    flex-basis: 797px;
	}
	    
	
	
	
} /* Media Query */


@media screen and (max-width: 1195px) {
	
	
	.sec_one_title_wrapper {
    padding: 95px 0 0 60px;
	}
	
} /* Media Query */


@media screen and (max-width: 1180px) {
	
	

	#section_one {
		margin-top:82px;
	}
	
	.sec_one_bg_wrapper {
		display: block;
	}
	
	.sec_one_left {
		width:100%;
	}
	
	.sec_one_right {
		display: none;
	}
	
	.sec_one_title_wrapper {
		span.sec_one_header {
			font-size: 72px;
			line-height: 78px;
			max-width: 600px;
		}
	}
	
	.sec_one_vid_wrapper {
		flex-basis:231px;
	}
	
	.sec_one_video_thumb_wrapper {
		height:295px;
		svg#play_button {
			width:73px;
			height:73px;
			top: 116px;
			left: 79px;
		}
	}
	
	   
	
} /* Media Query */
