

#section_three {
	width:100%;
	background: $bluegrad;
	padding:0 90px 0 48px;
}


.sec_three_inner {
	max-width:1744px;
	margin:0 auto;
	display: flex;
	padding:0px 0 0 70px;
	position: relative;
}


.sec_three_slider_wrapper {
	margin-top:70px;
	position: relative;
	z-index:1;
	overflow: hidden;
}


.star_title {
	img.stars {
		width:174px;
		height:171px;
	}
	img.mobile {
		display: none;
	}
	span.star_title {
		display: block;
		text-transform: uppercase;
		color:$red;
		font-size: 20px;
		letter-spacing: 0.2em;
		margin:-77px 0 0 76px;
		@include proxima_black;
	}
}


.sec_three_slider_wrapper {
	width:calc(100% - 531px);
	margin-bottom:120px;
}

.sec_three_slider {
	padding: 0 149px 105px 75px;
	
	.slick-dots {
		bottom: 0px;
		text-align: left;
		li.slick-active {
			button {
				&:before {
					color:$redlight;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$redlight;
				}
			}
		}
		li {
			margin:0 5px 0 0;
			width:16px;
			button {
				width:16px;
				&:before {
					width:16px;
					opacity: 1;
					color: $goldlight;
					font-size:43px;
					transition: all 200ms ease-in-out;
				}
			}
		}
	}
}


.sec_three_slide {
	margin-top:101px;
	span.sec_three_slide_content {
		display: block;
		font-size: 74px;
		line-height: 95px;
		color:$gold;
		@supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
			background: $goldgrad;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
	 	}
	 	@include operetta;
	}
	span.sec_three_name {
		display: block;
		color:$offwhite;
		text-transform: lowercase;
		font-size: 18px;
		margin-top:37px;
		@include proxima_extrabold;
	}
}



.sec_three_image_wrapper {
	width:531px;
	flex-shrink: 0;
	overflow: hidden;
	margin-top:-98px;
	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
	
}


@media screen and (max-width: 1620px) {
	
	
	.sec_three_slider_wrapper {
		width:100%;
	}
	
	.sec_three_image_wrapper {
		position: absolute;
		top:0;
		right:0;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	.sec_three_slider_wrapper {
    margin-top: 90px;
    margin-bottom: 95px;
   }
	
	.sec_three_inner {
		padding-left:0px;
	}
	
	.star_title {
		span.star_title {
			margin: -74px 0 0 76px;
		}
	}
	
	.sec_three_slider {
		padding: 0 0px 87px 75px;
	}
	
	.sec_three_slide {
		margin-top: 91px;
	}
	
	.sec_three_image_wrapper {
		width:395px;
		margin-top: -80px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1100px) {
	
	#section_three {
		padding:0 30px;	
	}
	
	.sec_three_inner {
		flex-direction: column;
		max-width:660px;
	}
	
	.sec_three_slider_wrapper {
		order:2;
		margin-top: 60px;
		margin-bottom: 85px;
	}
	
	.star_title {
		span.star_title {
    	margin: -74px 0 0 62px;
    }
}
	
	
	.sec_three_slider {
		padding: 0 62px 82px;
	}
	
	.sec_three_slide {
		margin-top: 75px;
		span.sec_three_slide_content {
			font-size: 58px;
			line-height: 74px;
		}
	}
	
	
	.sec_three_image_wrapper {
		position: relative;
		order:1;
		width:100%;
		margin-top: -91px;
		img {
			margin-left:auto;
			margin-right:auto;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.sec_three_inner {
		max-width: 480px;
	}
	
  
  .sec_three_slider_wrapper {
	  margin-top: 70px;
	  margin-bottom:65px;
  }
  
  .star_title {
	  text-align: center;
	  img.mobile {
		  display: inline-block;
		  width:142px;
		  height: 52px;
	  }
	  img.desktop {
		  display: none;
	  }
	  img.stars {
		  
	  }
	  span.star_title {
		  margin: 27px 0 0 0;
	  }
  }
  
  .sec_three_slider {
	  padding:0 10px;
	  .slick-dots {
		  position: static;
		  text-align: center;
		  margin:50px auto 0;
	  }
  }
  
  
  .sec_three_slide {
	  margin-top: 67px;
	  span.sec_three_slide_content {
	  	font-size: 40px;
	  	line-height: 52px;
	  	text-align: center;
  	}
  	span.sec_three_name {
	  	text-align: center;
	  	margin-top: 33px;
  	}
  }
  
  
  .sec_three_image_wrapper {
    margin-top: -68px;
  }
  
  
  
	   
	
	
} /* Media Query */