#section_four {
	
}


.sec_four_top {
	position: relative;
	width:100%;
	height:911px;
	img {
		width:100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
		object-fit:cover;
	}
}


.sec_four_top_content {
	text-align: center;
	position: relative;
	z-index:1;
	padding:170px 0 0;
	span {
		color:#fff;
		display:block;
		font-size: 74px;
		line-height: 74px;
		@include operetta;
	}
}


