#section_two {
	position: relative;
	z-index: 1;
	height:3000px;
	padding:0 30px;
}

.sec_two_slider {
	max-width: 1613px;
	margin:-325px auto 0;
	display: flex;
	justify-content: space-between;
}


.sec_two_slide {
	height:510px;
	width:502px;
	padding:103px 65px 0;
	position: relative;
	transform: translateY(38px);
	transition: all 800ms cubic-bezier(.17,.66,.34,.98);
	&:hover {
		transform: translateY(0px);
		a {
			.sec_two_inner {
				span.learn_more {
					color:$redlight;
				}
			}
		}
	}
	a {
		text-decoration: none;
	}
	&:before {
		content:"";
		display: block;
		position: absolute;
		z-index:1;
		top:0;
		left:32px;
		width:calc(100% - 64px);
		height:100%;
		border: 1px solid;
		border-image: linear-gradient(58deg, rgb(252,179,110), rgb(183,120,62)) 1;
	}
	&:after {
		content:"";
		display: block;
		position: absolute;
		top:28px;
		left:0;
		width:100%;
		height:calc(100% - 56px);
		background: $offwhite;
	}
}


.sec_two_inner {
	position: relative;
	z-index:1;
	max-width:340px;
	margin:0 auto;
	span {
		display: block;
	}
	span.sec_two_slide_title {
		font-size: 45px;
		color:$redlight;
		@include operetta;
	}
	span.sec_two_slide_content {
		color:$black;
		font-size: 18px;
		line-height: 32px;
		margin-top:48px;
		@include proxima_semibold;
	}
	span.learn_more {
		text-transform: uppercase;
		color:$gold;
		margin-top:31px;
		font-size: 13px;
		letter-spacing: 0.15em;
		transition: all 200ms ease-in-out;
		@include proxima_black;
	}
}

@media screen and (max-width: 1635px) {
	
	.sec_two_slider {
    max-width: 1523px;
   }
	
	.sec_two_slide {
  	width: 32%;
	}
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	.sec_two_slider {
		margin: -381px auto 0;
	}
	
	.sec_two_slide {
  	height:523px;
  	transform: translateY(20px);
  	padding: 85px 65px 0;
  	&:before {
	  	left:24px;
	  	width:calc(100% - 48px);
  	}
  	&:after {
	  	top:20px;
	  	height:calc(100% - 40px);
  	}
	}
	
	
	.sec_two_inner {
		span.sec_two_slide_title {
			font-size: 45px;
			line-height: 49px;
		}
		span.sec_two_slide_content {
			margin-top: 37px;
		}
	}
	
} /* Media Query */



@media screen and (max-width: 1350px) {
	
	.sec_two_slide {
		width:31.5%;
	}
	
	
	
} /* Media Query */
