

#section_three {
	width:100%;
	background: $bluegrad;
	padding:0 88px;
}


.sec_three_inner {
	max-width:1744px;
	margin:0 auto;
	display: flex;
	padding:0px 0 0 50px;
}


.sec_three_slider_wrapper {
	//flex-grow: 1;
	margin-top:70px;
}


.star_title {
	img.stars {
		width:174px;
		height:171px;
	}
	span.star_title {
		display: block;
		text-transform: uppercase;
		color:$red;
		font-size: 20px;
		letter-spacing: 0.2em;
		margin:-77px 0 0 76px;
		@include proxima_black;
	}
}


.sec_three_slider_wrapper {
	width:calc(100% - 531px);
	margin-bottom:120px;
}

.sec_three_slider {
	padding: 0 149px 105px 75px;
	
	.slick-dots {
		bottom: 0px;
		text-align: left;
		li.slick-active {
			button {
				&:before {
					color:$redlight;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$redlight;
				}
			}
		}
		li {
			margin:0 5px 0 0;
			width:16px;
			button {
				width:16px;
				&:before {
					width:16px;
					opacity: 1;
					color: $goldlight;
					font-size:43px;
				}
			}
		}
	}
}


.sec_three_slide {
	margin-top:101px;
	span.sec_three_slide_content {
		display: block;
		font-size: 74px;
		line-height: 95px;
		color:$gold;
		@supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
			background: $goldgrad;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
	 	}
	 	@include operetta;
	}
	span.sec_three_name {
		display: block;
		color:$offwhite;
		text-transform: lowercase;
		font-size: 18px;
		margin-top:32px;
		@include proxima_extrabold;
	}
}



.sec_three_image_wrapper {
	width:531px;
	flex-shrink: 0;
	overflow: hidden;
	margin-top:-98px;
	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
	
}