#section_two {
	position: relative;
	z-index: 1;
	padding:0 30px;
}

.sec_two_slider {
	max-width: 1613px;
	margin:-325px auto 0;
	display: flex;
	justify-content: space-between;
}


.sec_two_slide {
	height:510px;
	width:502px;
	padding:103px 65px 0;
	position: relative;
	transform: translateY(38px);
	transition: all 800ms cubic-bezier(.17,.66,.34,.98);
	&:hover {
		transform: translateY(0px);
		a {
			.sec_two_inner {
				span.learn_more {
					color:$redlight;
				}
			}
		}
	}
	a {
		text-decoration: none;
	}
	&:before {
		content:"";
		display: block;
		position: absolute;
		z-index:1;
		top:0;
		left:32px;
		width:calc(100% - 64px);
		height:100%;
		border: 1px solid;
		border-image: linear-gradient(58deg, rgb(252,179,110), rgb(183,120,62)) 1;
	}
	&:after {
		content:"";
		display: block;
		position: absolute;
		top:28px;
		left:0;
		width:100%;
		height:calc(100% - 56px);
		background: $offwhite;
	}
}


.sec_two_inner {
	position: relative;
	z-index:1;
	max-width:340px;
	margin:0 auto;
	span {
		display: block;
	}
	span.sec_two_slide_title {
		font-size: 45px;
		color:$redlight;
		@include operetta;
	}
	span.sec_two_slide_content {
		color:$black;
		font-size: 18px;
		line-height: 32px;
		margin-top:48px;
		@include proxima_semibold;
	}
	span.learn_more {
		text-transform: uppercase;
		color:$gold;
		margin-top:31px;
		font-size: 13px;
		letter-spacing: 0.15em;
		transition: all 200ms ease-in-out;
		@include proxima_black;
	}
}


.sec_two_content_wrapper {
	max-width:1470px;
	margin:0 auto 230px;
	padding:0 30px;
}

.sec_two_content_intro {
	text-align: center;
	padding:190px 0 0;
	max-width:1118px;
	margin:0 auto;
	h1 {
		font-size: 86px;
		display: inline-block;
		line-height: 86px;
		padding-bottom:60px;
		color:$gold;
		  @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
		  	background: $goldgrad;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
		 	}
		@include operetta;
	}
	p {
		color:$black;
		font-size: 32px;
		line-height: 52px;
		max-width: 1079px;
		margin:0 auto 30px;
		@include operetta;
	}
}


.sec_two_columns {
	display: flex;
	justify-content: space-between;
	margin-top:140px;
}

.sec_two_col {
	flex-basis: 47%;
}

@media screen and (max-width: 1635px) {
	
	.sec_two_slider {
    max-width: 1523px;
   }
	
	.sec_two_slide {
  	width: 32%;
	}
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	.sec_two_slider {
		margin: -381px auto 0;
	}
	
	.sec_two_slide {
  	height:523px;
  	transform: translateY(20px);
  	padding: 85px 65px 0;
  	&:before {
	  	left:24px;
	  	width:calc(100% - 48px);
  	}
  	&:after {
	  	top:20px;
	  	height:calc(100% - 40px);
  	}
	}
	
	
	.sec_two_inner {
		span.sec_two_slide_title {
			font-size: 45px;
			line-height: 49px;
		}
		span.sec_two_slide_content {
			margin-top: 37px;
		}
	}
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	.sec_two_columns {
		margin-top: 94px;
	}
	
	.sec_two_content_intro {
		padding: 124px 0 0;
		h1 {
			font-size: 74px;
			line-height: 78px;
			padding-bottom: 54px;
		}
		p {
			font-size: 28px;
			line-height: 48px;
			max-width: 941px;
		}
	}
	
	.sec_two_content_wrapper {
		margin: 0 auto 190px;
	}
	
	
	
} /* Media Query */

@media screen and (max-width: 1399px) {
	
	
	.sec_two_columns {
		display: block;
		max-width:760px;
		margin-left:auto;
		margin-right:auto;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1350px) {
	
	.sec_two_slide {
		width:31.5%;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1180px) {
	
	
	.sec_two_slide {
		height: 553px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1150px) {
	
	
		.sec_two_slider {
    	max-width: 502px;
    	margin: -324px auto 0;
    	padding-bottom: 67px;
    	.slick-slide {
		    margin: 0 19px;
		  }
		  /* the parent */
		  .slick-list {
		    margin: 0 -19px;
		  }
		  .slick-dots {
		  	bottom: 0px;
		  	li.slick-active {
		  		button {
		  			&:before {
		  				color:$redlight;
		  			}
		  		}
		  	}
		  	li:hover {
		  		button {
		  			&:before {
		  				color:$red;
		  			}
		  		}
		  	}
		  	li {
		  		margin:0 3px;
		  		width:16px;
		  		button {
		  			width:16px;
		  			&:before {
		  				width:16px;
		  				opacity: 1;
		  				color: $black;
		  				font-size:43px;
		  			}
		  		}
		  	}
		  }

		}
	
		.sec_two_slide {
			width:auto;
			padding: 99px 65px 0;
			height:510px;
			transform: translateY(0);
			&:before {
				left:33px;
				width:calc(100% - 66px);
			}
			&:after {
				top:28px;
				height:calc(100% - 56px);
			}
		}
		
		
		.sec_two_inner {
			span.sec_two_slide_content {
				margin-top: 46px;
			}
		}
		
		.sec_two_content_wrapper {
			max-width:708px;
		}
		
		.sec_two_content_intro {
			padding: 72px 0 0;
			h1 {
				font-size: 70px;
				line-height: 78px;
				max-width: 545px;
				padding-bottom: 34px;
			}
			p {
				font-size: 24px;
				line-height: 42px;
			}
		}
		
		.sec_two_columns {
			margin-top: 66px;
			max-width:640px;
		}
		
			
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	.sec_two_slider {
		margin: -344px auto 0;
		padding-bottom: 48px;
		max-width:355px;
	}
	
	
	.sec_two_slide {
		height:auto;
		padding: 84px 65px 99px;
	}
	
	
	.sec_two_inner {
		span.sec_two_slide_title {
			font-size: 42px;
			line-height: 46px;
		}
		span.sec_two_slide_content {
			margin-top:28px;
			font-size: 17px;
		}
		span.learn_more {
			margin-top: 23px;
		}
	}
	    
	
	
} /* Media Query */


@media screen and (max-width: 400px) {
	
	
	.sec_two_inner {
		span.sec_two_slide_title {
			font-size: 35px;
			line-height: 39px;
		}
		span.sec_two_slide_content {
			
		}
		span.learn_more {
			
		}
	}

	
	
} /* Media Query */

@media screen and (max-width: 360px) {
	
	
	.sec_two_inner {
		span.sec_two_slide_title {
			font-size: 30px;
			line-height: 35px;
		}
		span.sec_two_slide_content {
			
		}
		span.learn_more {
			
		}
	}

	
	
} /* Media Query */



