@media screen and (min-width: 1399px) {
	
	
	
	.sec_one_title_wrapper {
		span.sec_one_header {
			transform: translateY(-45px);
			opacity: 0;
			transition: opacity 300ms ease-in-out, transform 1500ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	body.ready {
		.sec_one_title_wrapper {
			span.sec_one_header {
				transform: translateY(0px);
				opacity: 1;
				transition-delay: 100ms;
			}
		}
	}
	
	
	a.title_button {
		transform: translateY(-45px);
		opacity: 0;
		transition: opacity 300ms ease-in-out, transform 1500ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	body.ready {
		a.title_button {
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 300ms;
		}
	}
	
	
	.sec_one_right {
		overflow: hidden;
		img {
			transform: scale(1.2);
			transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	body.ready {
		.sec_one_right {
			img {
				transform: scale(1);
				transition-delay: 100ms;
			}
		}
	}
	
	
	
	
	
	.sec_one_vid_wrapper {
		transform: translateY(45px);
		opacity: 0;
		transition: opacity 300ms ease-in-out, transform 1500ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	body.ready {
		.sec_one_vid_wrapper {
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 100ms;
		}
	}
	
	
	.sec_one_video_thumb_wrapper {
		overflow: hidden;
		&:hover {
			img.video_thumb {
				
			}
		}
		svg#play_button {
			opacity: 0;
			transition: all 500ms ease-in-out;
		}
		img.video_thumb {
			transform: scale(1.2);
			transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	body.ready {
		.sec_one_video_thumb_wrapper {
			&:hover {
				img.video_thumb {
					transform: scale(1.1);
				}
			}
			svg#play_button {
				opacity: 1;
				transition-delay: 300ms;
			}
			img.video_thumb {
				transform: scale(1);
				transition-delay: 100ms;
			}
		}
	}
	
	
	
	// section two
	
	
	.sec_two_slider {
		transform: translateY(25px);
		opacity: 0;
		transition: opacity 700ms ease-in-out, transform 1500ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	body.ready {
		.sec_two_slider {
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 500ms;
		}
	}
	
	
	
} /* Media Query */