@media screen and (min-width: 1199px) {
	
	
	
	.sec_one_title_wrapper {
		span.sec_one_header {
			transform: translateY(-45px);
			opacity: 0;
			transition: opacity 300ms ease-in-out, transform 1500ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	body.ready {
		.sec_one_title_wrapper {
			span.sec_one_header {
				transform: translateY(0px);
				opacity: 1;
				transition-delay: 100ms;
			}
		}
	}
	
	
	a.title_button {
		transform: translateY(-45px);
		opacity: 0;
		transition: opacity 300ms ease-in-out, transform 1500ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	body.ready {
		a.title_button {
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 300ms;
		}
	}
	
	
	.sec_one_right {
		overflow: hidden;
		img {
			transform: scale(1.2);
			transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	body.ready {
		.sec_one_right {
			img {
				transform: scale(1);
				transition-delay: 100ms;
			}
		}
	}
	
	
	
	
	
	.sec_one_vid_wrapper {
		transform: translateY(45px);
		opacity: 0;
		transition: opacity 300ms ease-in-out, transform 1500ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	body.ready {
		.sec_one_vid_wrapper {
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 100ms;
		}
	}
	
	
	.sec_one_video_thumb_wrapper {
		overflow: hidden;
		&:hover {
			img.video_thumb {
				
			}
		}
		svg#play_button {
			opacity: 0;
			transition: all 500ms ease-in-out;
		}
		img.video_thumb {
			transform: scale(1.2);
			transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	body.ready {
		.sec_one_video_thumb_wrapper {
			&:hover {
				img.video_thumb {
					transform: scale(1.1);
				}
			}
			svg#play_button {
				opacity: 1;
				transition-delay: 300ms;
			}
			img.video_thumb {
				transform: scale(1);
				transition-delay: 100ms;
			}
		}
	}
	
	
	
	// section two
	
	
	.sec_two_slider {
		transform: translateY(25px);
		opacity: 0;
		transition: opacity 700ms ease-in-out, transform 1500ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	body.ready {
		.sec_two_slider {
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 600ms;
		}
	}
	
	
	// section three
	
	
	.sec_three_image_wrapper {
		overflow: hidden;
		transform: translateY(75px);
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98);
		img {
/*
			transform: scale(1.15);
			transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
*/
		}
	}
	
	
	
	#section_three.visible {
		.sec_three_image_wrapper {
			transform: translateY(0px);
			transition-delay: 100ms;
			img {
// 				transform: scale(1);

			}
		}
	}
	
	
	.star_title_wrapper {
		img.stars {
			transform: translateY(-25px);
			opacity: 0;
			transition: opacity 700ms ease-in-out, transform 1500ms cubic-bezier(.17,.66,.34,.98);
		}
		span.star_title {
			transform: translateX(-25px);
			opacity: 0;
			transition: opacity 700ms ease-in-out, transform 1500ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	#section_three.visible {
		.star_title_wrapper {
			img.stars {
				transform: translateY(0px);
				opacity: 1;
				transition-delay: 200ms;
			}
			span.star_title {
				transform: translateY(0px);
				opacity: 1;
				transition-delay: 100ms;
			}
		}
	}
	
	
	// section four
	
	.sec_four_top {
		overflow: hidden;
		img {
			transform: scale(1.1);
			transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	a.results_button {
		transform: translateY(15px);
		opacity: 0;
		transition: opacity 500ms ease-in-out, transform 1500ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	.sec_four_top.visible {
		img {
			transform: scale(1);
			transition-delay: 100ms;
		}
		a.results_button {
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 100ms;
		}
		
	}
	
	
	.sec_four_slider_wrapper {
		transform: translateY(25px);
		opacity: 0;
		transition: opacity 500ms ease-in-out, transform 1500ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	.sec_four_slider_wrapper.visible {
		transform: translateY(0px);
		opacity: 1;
		transition-delay: 500ms;
	}
	
	
	
		.sec_four_selling_point {
			span.number {
				opacity: 0;
				transition: all 400ms ease-in-out;
				&:after {
					transform: scaleX(0);
					transform-origin: top left;
					transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
				}
			}
		}
		
	
	
	
	.sec_four_selling_points.visible {
		.sec_four_selling_point {
			&:nth-of-type(2) {
				span.number {
					transition-delay: 700ms;
					&:after {
						transition-delay: 900ms;
					}
				}
			}
			span.number {
				opacity: 1;
				&:after {
					transform: scaleX(1);
					transition-delay: 300ms;
				}
			}
		}
	}
	
	// about firm
	
	.about_video_wrapper {
		transform: translateY(-45px);
		opacity: 0;
		transition: opacity 300ms ease-in-out, transform 1500ms cubic-bezier(.17,.66,.34,.98);
		.about_video_thumb {
			overflow: hidden;
			img.about_thumb {
				transform: scale(1.2);
				transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
	body.ready {
		.about_video_wrapper {
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 100ms;
			.about_video_thumb {
				&:hover {
					img.about_thumb {
						transform: scale(1.1);
					}
				}
				img.about_thumb {
					transform: scale(1);
					transition-delay:100ms;
				}
			}
		}
	}
	
	
	// att bio
	
	
	.att_bio_left {
		overflow: hidden;
		transform: translateY(-15px);
		opacity: 0;
		transition: opacity 300ms ease-in-out, transform 1500ms cubic-bezier(.17,.66,.34,.98);
		img {
			transform: scale(1.2);
			transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	body.ready {
		.att_bio_left {
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 100ms;
			img {
				transform: scale(1);
				transition-delay:100ms;
			}
		}
	}
	
	
	// practice areas 
	
	
	
	.internal_banner {
		overflow: hidden;
		img {
			transform: scale(1.2);
			transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	body.ready {
		.internal_banner {
			img {
				transform: scale(1);
				transition-delay:100ms;
			}
		}
	}
	
	
	
	
} /* Media Query */