

.form_wrapper {
	width:100%;
	background: $bluegrad;
	padding:67px;
}


.form_inner {
// 	height:937px;
	border: 1px solid;
	text-align: center;
	border-image: $goldgradborder;
	padding-bottom:122px;
	span.free_consultation_title {
		display: inline-block;
		font-size: 96px;
		line-height: 96px;
		color:$gold;
		margin:96px 0 0;
		  @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
		  	background: $goldgrad;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
		 	}
		@include operetta;
	}
	span.free_consultation_subtitle {
		color:#fff;
		display: block;
		margin-top:4px;
		font-size: 18px;
		line-height: 22px;
		@include proxima_semibold;
	}
	span.required {
		color:$red;
		display: block;
		text-transform: uppercase;
		font-size: 14px;
		margin-top:15px;
		letter-spacing: 0.2em;
		@include proxima_extrabold;
	}
	.gform_wrapper {
		margin:66px auto 0;
		max-width: 968px;
		text-align: left;
		ul {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			li {
				display: block;
				flex-basis:48.5%;
				width:100%;
				margin-bottom: 23px;
				label {
					display: none;
				}
				input, textarea {
					border: none;
					padding:21px 35px;
					display: block;
					width: 100%;
					text-transform: lowercase;
					font-size: 18px;
					border: 4px solid #fff;
					color:$black;
					@include proxima_extrabold
					transition: all 300ms ease-in-out;
					&:focus {
						border: 4px solid $red;
						color: $red;
					}
				}
				textarea {
					height:202px;
				}
			}
			li#field_1_6 {
				flex-basis: 100%;
			}
			li.gform_validation_container {
				display: none;
			}
		}
		.gform_footer {
			text-align: center;
		}
		input[type="submit"] {
			background: $red;
			cursor: pointer;
			width:239px;
			text-align: center;
			margin:24px auto 0;
			border:none;
			color:#fff;
			font-size: 37px;
			border-radius: 45px;
			padding:0 60px;
			box-shadow: $boxshadow;
			@include operetta;
			transition: all 200ms ease-in-out;
			&:hover {
				background: #fff;
				color:$red;
			}
		}
	}
	.gfield_description, .validation_message {
		color:$red;
		display: block;
		text-transform: uppercase;
		font-size: 13px;
		margin-top:9px;
		letter-spacing: 0.2em;
		@include proxima_extrabold;	}
}



.footer_bottom {
	
}



.location_wrapper {
	max-width:1700px;
	margin:0px auto;
	padding:130px 20px 0 46px;
	display: flex;
	justify-content: space-between;
}



.location_col {
	color:$black;
	@include proxima_semibold;
	span.location_title {
		display: block;
		color: $redlight;
		font-size: 28px;
		line-height: 32px;
		margin-bottom:30px;
		@include operetta;
	}
	span.address {
		display: block;
		font-size: 18px;
		line-height: 29px;
		margin-bottom: 37px;
	}
	.phone_row {
		display: flex;
		margin-bottom:13px;
		font-size: 18px;
		span {
			color:$redlight;
			margin-right:12px;
			@include proxima_extrabold;
		}
		a {
			text-decoration: none;
			color:#000;
			transition: all 200ms ease-in-out;
			&:hover {
				color:$gold;
			}
		}
	}
	a.map_button {
		background: $gold;
		display: inline-block;
		color:#fff;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 16px;
		letter-spacing: 0.28em;
		padding:16px 0;
		margin-top: 35px;
		width:119px;
		text-align: center;
		border-radius: 45px;
		box-shadow: $boxshadow;
		transition: all 200ms ease-in-out;
		@include proxima_black;
		&:hover {
			background: $red;
			
		}
	}
}


.location_col_four {
	order:4;
	flex-basis:321px;
}


.social_media {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 175px;
	padding-left:5px;
	a {
		text-decoration: none;
		display: block;
		margin:0 10px 27px;
		flex-shrink: 0;
		&:hover {
			svg.sm {
				.st0-sm {
					fill:$gold;
				}
			}
		}
		svg.sm {
			width:30px;
			height:30px;
			.st0-sm {
				fill:$black;
				transition: all 200ms ease-in-out;
			}
		}
	}
	a.sm-g {
		svg.sm {
			width:27px;
		}
	}
	a.sm-fb {
		svg.sm {
			width:33px;
			height:32px;
		}
	}
	a.sm-yt {
		svg.sm {
			width:33px;
			height:32px;
		}
	}
}



.location_col {
	flex-shrink: 0;
	ul {
		list-style: none;
		li {
			margin-bottom: 11px;
			font-size: 16px;
			line-height: 19px;
			a {
				text-decoration: none;
				color:$black;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$gold;
				}
			}
		}
	}
	.news_post_title {
		display: block;
		font-size: 18px;
		line-height: 32px;
		margin-top:-8px;
		text-decoration: none;
		color:$black;
		transition: all 200ms ease-in-out;
		&:hover {
			color:$gold;
		}
	}
	a.views_news {
		text-transform: uppercase;
		text-decoration: none;
		font-size: 14px;
		letter-spacing: 0.28em;
		color:$gold;
		display: inline-block;
		margin-top:27px;
		transition: all 200ms ease-in-out;
		@include proxima_black;
		&:hover {
			color:$redlight
		}
	}
}



.copyright_wrapper {
	max-width:1700px;
	margin:108px auto 60px;
	border-top:1px solid $gold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top:29px;
	ul {
		li {
			list-style: none;
			display: inline-block;
			color:$black;
			font-size: 15px;
			line-height: 24px;
			@include proxima_bold;
			&:first-of-type, &:last-of-type {
				a {
					&:after {
						display: none;
					}
				}
			}
			a {
				text-decoration: none;
				color:$black;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$gold;
				}
				&:after {
					content:"|";
					display: inline-block;
					margin:0 1px 0 4px;
				}
			}
		}
	}
	a.ilawyer {
		img {
			width:238px;
			height:20px;
		}
	}
}

@media screen and (max-width: 1745px) {
	
	
	.footer_bottom {
		padding: 0px 60px;
	}
	
	.location_wrapper {
		padding-top:85px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	.form_wrapper {
		padding:60px;
	}
	
	.form_inner {
		padding-bottom: 94px;
		span.free_consultation_title {
			margin: 80px 0 0;
			font-size: 86px;
		}
		.gform_wrapper {
			margin: 50px auto 0;
			max-width:840px;
			input[type="submit"] {
				margin-top:28px;
				padding: 3px 60px;
			}
		}
	}
	
	.location_wrapper {
		padding-left:0;
		padding-right:0;
	}
	
	.location_col_one {
		flex-basis:27%;
	}
	
	.laptop_layout {
		flex-basis:30%;
	}
	
	.location_col_four {
		margin-top:55px;
	}
	
	.location_col_three {
		flex-basis:26%;
	}
	
	
	
	.location_col {
		span.location_title {
			margin-bottom: 26px;
		}
		a.map_button {
			margin-top: 30px;
		}
		.news_post_title {
			padding-top:10px;
		}
	}
	
	.social_media {
		padding-top: 2px;
		padding-left:0;
		a {
			margin: 0 20px 27px 0;
		}
	}
	
	
	.copyright_wrapper {
		margin: 87px auto 120px;
		ul {
			li {
				a {
					
				}
			}
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1160px) {
	
	
	.location_col_one {
    flex-basis: 300px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1100px) {
	
	
	.form_inner {
		padding:0 45px 90px;
		span.free_consultation_title {
			font-size: 66px;
			line-height: 66px;
			margin: 81px 0 0;
		}
		span.free_consultation_subtitle {
			margin-top: 13px;
		}
		span.required {
			margin-top: 18px;
		}
		.gform_wrapper {
			max-width: 670px;
			ul {
				display: block;
			}
			input[type="submit"] {
				
			}
		}
	}

	
	
	
} /* Media Query */


@media screen and (max-width: 1000px) {
	
	.location_wrapper {
		max-width: 690px;
	}
	
	.mobile_col {
		display: flex;
		flex-direction: column;
		&:first-of-type {
			flex-basis: 60%;
			.location_col_one {
				order:1;
			}
			.location_col_two {
				order:2;
				margin-top:54px;
			}
		}
		&:last-of-type {
			flex-basis:40%;
			.location_col_three {
				order:1;
			}
			.location_col_four {
				order:2;
				margin-top: 42px;
			}
		}
	}
	
	
	.footer_bottom {
		padding:0 30px;
	}
	
	
	.copyright_wrapper {
		display: block;
		text-align: center;
		padding-top: 24px;
		margin-bottom: 30px;
		a.ilawyer {
			margin-top:16px;
			display: inline-block;
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	.form_wrapper {
		padding:0;
	}
	
	.form_inner {
		border: none;
		padding:0 30px 70px;
		span.free_consultation_title {
			font-size: 56px;
			line-height: 56px;
			max-width: 370px;
			margin: 62px 0 0;
		}
		span.free_consultation_subtitle {
			max-width:273px;
			margin:17px auto 0;
		}
		span.required {
			margin-top: 14px;
		}
		.gform_wrapper {
			max-width: 540px;
			ul {
				li {
					input, textarea {
						padding: 17px 35px;
					}
					textarea {
						height:225px;
					}
				}
			}
			input[type="submit"] {
				font-size: 30px;
				margin-top:0;
				padding: 6px 10px;
				width:100%;
				max-width: 357px;
			}
		}
	}
	
	
	.location_wrapper {
		padding: 65px 30px 0;
		display: block;
		text-align: center;
	}
	
	.location_col {
		.phone_row {
			justify-content: center;
		}
		.news_post_title {
			padding-top: 7px;
			max-width:310px;
			margin-left:auto;
			margin-right:auto;
		}
		a.views_news {
			margin-top:30px;
		}
	}
	
	.location_col_two {
		margin-top:56px;
	}
	
	.location_col_three {
		display: none;
	}
	
	.location_col_four {
    margin-top: 26px;
	}
	
	
	.social_media {
		margin:0 auto;
		a {
			margin: 0 10px 27px;
		}
	}
	
	.copyright_wrapper {
		margin: 59px auto 38px;
		ul {
			max-width:340px;
			margin:0 auto;
			li {
				display: inline;
			}
		}
		a.ilawyer {
			margin-top: 18px;
			img {
				width:242px;
				height: auto;
			}
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 385px) {
	
	
	.form_inner {
		span.free_consultation_title {
			font-size: 46px;
			line-height: 46px;
		}
	}
	    
	
	
} /* Media Query */
