

.form_wrapper {
	width:100%;
	background: $bluegrad;
	padding:67px;
}


.form_inner {
// 	height:937px;
	border: 1px solid;
	text-align: center;
	border-image: linear-gradient(58deg, rgb(252,179,110), rgb(183,120,62)) 1;
	padding-bottom:122px;
	span.free_consultation_title {
		display: inline-block;
		font-size: 96px;
		line-height: 96px;
		
		color:$gold;
		margin:96px 0 0;
		  @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
		  	background: $goldgrad;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
		 	}
		@include operetta;
	}
	span.free_consultation_subtitle {
		color:#fff;
		display: block;
		margin-top:4px;
		font-size: 18px;
		line-height: 22px;
		@include proxima_semibold;
	}
	span.required {
		color:$red;
		display: block;
		text-transform: uppercase;
		font-size: 14px;
		margin-top:15px;
		letter-spacing: 0.2em;
		@include proxima_extrabold;
	}
	.gform_wrapper {
		margin:66px auto 0;
		max-width: 968px;
		text-align: left;
		ul {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			li {
				display: block;
				flex-basis:48.5%;
				width:100%;
				margin-bottom: 23px;
				label {
					display: none;
				}
				input, textarea {
					border: none;
					padding:21px 35px;
					display: block;
					width: 100%;
					text-transform: lowercase;
					font-size: 18px;
					border: 4px solid #fff;
					color:$black;
					@include proxima_extrabold
					transition: all 300ms ease-in-out;
					&:focus {
						border: 4px solid $red;
						color: $red;
					}
				}
				textarea {
					height:202px;
				}
			}
			li#field_1_6 {
				flex-basis: 100%;
			}
			li.gform_validation_container {
				display: none;
			}
		}
		.gform_footer {
			text-align: center;
		}
		input[type="submit"] {
			background: $red;
			cursor: pointer;
			width:239px;
			text-align: center;
			margin:24px auto 0;
			border:none;
			color:#fff;
			font-size: 37px;
			border-radius: 45px;
			padding:0 60px;
			box-shadow: 3px 7px 9px 0px rgba(0,0,0,0.4);
			@include operetta;
			transition: all 200ms ease-in-out;
			&:hover {
				background: #fff;
				color:$red;
			}
		}
	}
	.gfield_description, .validation_message {
		color:$red;
		display: block;
		text-transform: uppercase;
		font-size: 13px;
		margin-top:9px;
		letter-spacing: 0.2em;
		@include proxima_extrabold;	}
}



.footer_bottom {
	height:3000px;
}



.location_wrapper {
	max-width:1700px;
	margin:0px auto;
	padding:130px 0 0;
	display: flex;
	justify-content: space-between;
	background: pink;
}



.location_col {
	color:#000;
	@include proxima_semibold;
	span.location_title {
		display: block;
		color: $redlight;
		font-size: 28px;
		line-height: 32px;
		margin-bottom:30px;
		@include operetta;
	}
	span.address {
		display: block;
		font-size: 18px;
		line-height: 29px;
		margin-bottom: 37px;
	}
	.phone_row {
		display: flex;
		margin-bottom:13px;
		font-size: 18px;
		span {
			color:$redlight;
			margin-right:12px;
			@include proxima_extrabold;
		}
		a {
			text-decoration: none;
			color:#000;
		}
	}
	a.map_button {
		background: $gold;
		display: inline-block;
		color:#fff;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 16px;
		letter-spacing: 0.28em;
		padding:16px 0;
		margin-top: 35px;
		width:119px;
		text-align: center;
		border-radius: 45px;
		box-shadow: 3px 7px 9px 0px rgba(0,0,0,0.4);
		transition: all 200ms ease-in-out;
		@include proxima_black;
		&:hover {
			background: $red;
			
		}
	}
}


.location_col {
	&:first-of-type {
		padding-left:46px;
	}
}


.social_media {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 170px;
	a {
		text-decoration: none;
		display: block;
		margin:0 10px 27px;
		//margin-right:25px;
		margin-bottom:27px;
		flex-shrink: 0;
		&:hover {
			svg.sm {
				.st0-sm {
					fill:$gold;
				}
			}
		}
		svg.sm {
			width:30px;
			height:30px;
			.st0-sm {
				fill:$black;
				transition: all 200ms ease-in-out;
			}
		}
	}
	a.sm-g {
		svg.sm {
			width:27px;
		}
	}
	a.sm-fb {
		svg.sm {
			width:33px;
			height:32px;
		}
	}
	a.sm-yt {
		svg.sm {
			width:33px;
			height:32px;
		}
	}
}




@media screen and (max-width: 1450px) {
	
	
	.form_wrapper {
		padding:60px;
	}
	
	.form_inner {
		padding-bottom: 94px;
		span.free_consultation_title {
			margin: 80px 0 0;
			font-size: 86px;
		}
		.gform_wrapper {
			margin: 50px auto 0;
			max-width:840px;
			input[type="submit"] {
				margin-top:28px;
				padding: 3px 60px;
			}
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1100px) {
	
	
	.form_inner {
		padding:0 45px 90px;
		span.free_consultation_title {
			font-size: 66px;
			line-height: 66px;
			margin: 81px 0 0;
		}
		span.free_consultation_subtitle {
			margin-top: 13px;
		}
		span.required {
			margin-top: 18px;
		}
		.gform_wrapper {
			max-width: 670px;
			ul {
				display: block;
			}
			input[type="submit"] {
				
			}
		}
	}

	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	.form_wrapper {
		padding:0;
	}
	
	.form_inner {
		border: none;
		padding:0 30px 70px;
		span.free_consultation_title {
			font-size: 56px;
			line-height: 56px;
			max-width: 370px;
			margin: 62px 0 0;
		}
		span.free_consultation_subtitle {
			max-width:273px;
			margin:17px auto 0;
		}
		span.required {
			margin-top: 14px;
		}
		.gform_wrapper {
			max-width: 540px;
			ul {
				li {
					input, textarea {
						padding: 17px 35px;
					}
					textarea {
						height:225px;
					}
				}
			}
			input[type="submit"] {
				font-size: 30px;
				margin-top:0;
				padding: 6px 10px;
				width:100%;
				max-width: 357px;
			}
		}
	}
	
	
} /* Media Query */
