.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}



h1,h2,h3,h4 {
	font-style: normal;
	font-weight: 300;
}


.gform_wrapper ul li ::-webkit-input-placeholder {
  color: #000; }
.gform_wrapper ul li ::-moz-placeholder {
  color: #000; }
 .gform_wrapper ul li :-moz-placeholder {
   color: #000; }
 .gform_wrapper ul li :-ms-input-placeholder {
   color: #000; }
 .gform_wrapper ul li ::-moz-placeholder {
    opacity: 1; }
    
  .content_header {
		font-size: 80px;
		line-height: 86px;
		color:$gold;
		display: inline-block;
		padding-bottom:59px;
		@include operetta;
		  @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
		  	background: $goldgrad;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
		 	}
	}
	
	
 
.content {
	font-size: 18px;
	line-height: 36px;
	color:#212d3d;
	@include proxima_semibold;
	
	h2 {
		padding:40px 0 43px 0;
		color:$gold;
		font-size: 35px;
		line-height: 35px;
		@include operetta;
	}
	h3 {
		text-transform: uppercase;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.2em;
		color:$redlight;
		padding-top:30px;
		padding-bottom:42px;
		@include proxima_black;
	}
	a {
		color:$redlight;
		transition: all 200ms ease-in-out;
		&:hover {
			color:$gold;
		}
	}
	p, ul, ol {
		margin-bottom:37px;
	}
	ol {
			list-style: none;
			padding-left:6px;
			counter-reset: item;
			> li {
				counter-increment: item;
				margin-bottom: 18px;
				position: relative;
				padding-left:30px;
				line-height: 27px;
	 		}
	 		> li:before {
	 				content: counter(item)".";
	 				color: $redlight;
	 				position: absolute;
	 				top:0;
	 				left:0;
	 				@include proxima_black;
	 			}
		}
	ul {
		list-style: none;
		padding-left:6px;
		li {
			line-height: 27px;
			position: relative;
			padding-left:32px;
			margin-bottom:18px;
			&:before {
				content:"";
				display: block;
				width:7px;
				height:7px;
				background: $redlight;
				border-radius: 50%;
				position: absolute;
				top:10px;
				left:6px;
			}
		}
	}
	blockquote {
		font-size: 32px;
		line-height: 52px;
		color:$bluedark;
		position: relative;
		z-index:1;
		margin: 98px 0 78px 0;
		padding:77px 80px;
		@include operetta;
		p {
			margin-bottom:0;
		}
		&:before, &:after {
			content:"";
			display: block;
			position: absolute;
		}
		&:before {
			top:0;
			left:30px;
			width:calc(100% - 60px);
			height:100%;
			border: 1px solid;
			border-image: $goldgradborder;
			z-index:-1;
		}
		&:after {
			top:30px;
			left:0;
			width:100%;
			height:calc(100% - 60px);
			background: $offwhite;
			z-index:-2;
		}
	}
	strong {
		@include proxima_extrabold;
	}
}



@media screen and (max-width: 1450px) {
	
	
	
		.content_header {
			font-size: 74px;
			line-height: 78px;
		}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.content {
		
		blockquote {
			margin: 80px 0 78px 0;
		}
	}
	
	.content_header {
		font-size: 70px;
		line-height: 74px;
	}
	
	
	
} /* Media Query */

@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}
	
	.content {
		font-size: 17px;
		line-height: 33px;
		h2 {
			padding-bottom:38px;
		}
		blockquote {
			font-size: 28px;
			line-height: 37px;
			padding: 67px 53px;
			margin: 35px 0;
		}
	}
	
	.content_header {
			font-size: 52px;
			line-height: 60px;
			padding-bottom: 24px;
		}
		
	
} /* Media Query */

