.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}



h1,h2,h3,h4 {
	font-style: normal;
	font-weight: 300;
}


.gform_wrapper ul li ::-webkit-input-placeholder {
  color: #000; }
.gform_wrapper ul li ::-moz-placeholder {
  color: #000; }
 .gform_wrapper ul li :-moz-placeholder {
   color: #000; }
 .gform_wrapper ul li :-ms-input-placeholder {
   color: #000; }
 .gform_wrapper ul li ::-moz-placeholder {
    opacity: 1; }
    
 
.content {
	font-size: 18px;
	line-height: 36px;
	color:#212d3d;
	@include proxima_semibold;
	.content_header {
		font-size: 80px;
		line-height: 86px;
		color:$gold;
		display: inline-block;
		padding-bottom:59px;
		@include operetta;
		  @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
		  	background: $goldgrad;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
		 	}
	}
	h2 {
		padding:40px 0 43px 0;
		color:$gold;
		font-size: 35px;
		line-height: 35px;
		@include operetta;
	}
	h3 {
		text-transform: uppercase;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.2em;
		color:$redlight;
		padding-top:30px;
		padding-bottom:42px;
		@include proxima_black;
	}
	p, ul, ol {
		margin-bottom:37px;
	}
	ol {
			list-style: none;
			padding-left:6px;
			counter-reset: item;
			> li {
				counter-increment: item;
				margin-bottom: 18px;
				position: relative;
				padding-left:30px;
				line-height: 27px;
	 		}
	 		> li:before {
	 				content: counter(item)".";
	 				color: $redlight;
	 				position: absolute;
	 				top:0;
	 				left:0;
	 				@include proxima_black;
	 			}
		}
	ul {
		list-style: none;
		padding-left:6px;
		li {
			line-height: 27px;
			position: relative;
			padding-left:32px;
			margin-bottom:18px;
			&:before {
				content:"";
				display: block;
				width:7px;
				height:7px;
				background: $redlight;
				border-radius: 50%;
				position: absolute;
				top:10px;
				left:6px;
			}
		}
	}
	strong {
		@include proxima_extrabold;
	}
}

@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}
	
	.content {
		font-size: 17px;
		line-height: 33px;
	}
	
	
} /* Media Query */