

header {
	width:100%;
	display: flex;
	background: #fff;
	position: relative;
	z-index: 10;
}

header#homepage_header {
	height:115px;
	padding:0 47px 0 75px;
}

.header_left {
	display: flex;
	align-items: center;
	height:100%;
	a.logo_link {
		display: block;
		img {
			width:417px;
			height: 28px;
		}
	}
}


.header_right {
	display: flex;
	flex-grow:1;
	justify-content: flex-end;
}


nav {
	flex-grow:1;
	margin:54px 0 0 0;
	ul {
		list-style: none;
		li {
			a {
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
	ul.menu {
		display: flex;
		justify-content: center;
		> li {
				margin:0 19px;
				text-transform: lowercase;
				font-size: 17px;
				padding-bottom: 44px;
				@include proxima_bold;
				> a {
						color:$black;
						transition: all 200ms ease-in-out;
						&:hover {
							color:$red;
						}
				}
				> ul.sub-menu {
						position: absolute;
						top: 61px;
						left:50%;
						width:331px;
						background: $offwhite;
						transform: translateX(-50%);
						opacity: 0;
						visibility: hidden;
						//padding-bottom:13px;
						box-shadow: 0px 7px 9px 0px rgba(147, 147, 147, 0.93);
						transition: all 200ms ease-in-out;
						> li {
							> a {
								background: transparent;
								color:$black;
								transition: all 300ms ease-in-out;
								&:hover {
									background: $bluedark;
									color:#fff;
									span.red {
										color:#fff;
									}
								}
							}
						}
						> li.current-menu-item {
								a {
									color:$red;
									&:hover {
										color:#fff;
									}
								}
								ul.sub-mrnu {
									display: block;
								}
						}
						> li.menu-item-has-children {
							> a {
								position: relative;
								display: block;
								&:after {
									content:"+";
									display: inline-block;
									margin-left:7px;
									vertical-align: top;
								}
							}
							a.active {
								background: $bluedark;
								color:#fff;
							}
							ul.sub-menu {
								display: none;
								background: $bluelight;
								li {
									a {
										color:#fff;
										transition: all 200ms ease-in-out;
										&:hover {
											color:$red;
										}
									}
								}
								li.current-menu-item {
									a {
										color:$red;
									}
								}
							}
						}
						> li.current-menu-ancestor {
								> a {
									background: $bluedark;
									color:#fff;
								}
						}
			}
			
			ul.sub-menu {
				text-align: center;
				li {
					font-size: 18px;
					line-height: 24px;
					@include proxima_extrabold;
					a {
						padding:21px 10px;
						display:block;
					}
				}
			}
		}
		> li.menu-item-has-children {
			position: relative;
			&:hover {
				> a {
					color:$red;
					&:after {
						opacity: 1;
					}
					&:before {
						opacity: 0;
					}
				}
				> ul.sub-menu {
					opacity: 1;
					visibility: visible;
				}
			}
			 > a {
				 position: relative;
				 	&:before, &:after {
					 	content:"";
					 	position: absolute;
					 	top:8px;
					 	right:-18px;
					 	width:12px;
					 	height:8px;
					 	background-size: 13px 10px;
					 	transition: all 200ms ease-in-out;
				 	}
				 	&:after {
					 	opacity: 0;
					 	background: url(#{$themePath}images/icon-arrow-down-red.svg) no-repeat;
				 }
				 &:before {
					 background: url(#{$themePath}images/icon-arrow-down.svg) no-repeat;
				 }
			 }
		}
		> li.current-menu-ancestor {
				> a {
					color:$red;
					&:after {
						opacity: 1;
					}
					&:before {
						opacity: 0;
					}
				}
			}
		}
	}





.phone_wrapper {
	//text-align: right;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	span.call_us {
		display: block;
		text-transform: uppercase;
		font-size:14px;
		letter-spacing: 0.2em;
		color:$gold;
		margin-bottom:2px;
		@include proxima_black;
	}
	a.phone {
		color:$red;
		text-decoration: none;
		font-size: 40px;
		display: inline-block;
		@include operetta;
	}
}



.menu_wrapper {
	display: none;
}


@media screen and (max-width: 1765px) {
	
	
	.phone_wrapper {
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		margin-top:24px;
		margin-bottom: 20px;
		span.call_us {
			display: inline-block;
			margin-right:14px;
			margin-bottom: 0;
			position: relative;
			top:3px;
		}
		a.phone {
			font-size: 33px;
		}
	}
	
	
	.header_right {
		flex-direction: column;
	}
	
	nav {
		order:2;
		margin-top:0;
		ul.menu {
			justify-content: flex-end;
			> li {
				padding-bottom: 21px;
				&:last-of-type {
					margin-right:0;
				}
				> ul.sub-menu {
						top: 38px;
				}
			}
		}
	}
	
	.phone_wrapper {
		order:1;
	}
	
} /* Media Query */




@media screen and (max-width: 1450px) {
	
	
	header#homepage_header {
		padding:0 31px;
	}
	
.header_left {
	a.logo_link {
		img {
			width:359px;
			height:24px;
		}
	}
}	


nav {
	ul.menu {
		> li {
				font-size:15px;
				margin:0 14px;
				> ul.sub-menu {
						width: 251px;
				}
		}
		> li.menu-item-has-children {
			 > a {
				 	&:after {
						top: 7px;
						right: -15px;
				 	}
			 }
		}
	}
}
	
} /* Media Query */



@media screen and (max-width: 1180px) {
	
	header {
		position: fixed;
		top:0;
		left:0;
	}
	
	header#homepage_header {
		height:82px;
		padding-right:0;
	}
	
.header_left {
	a.logo_link {
		img {
			width:332px;
			height:25px;
		}
	}
}	
	
	nav {
		display: none;
	}
	
	
	.phone_wrapper {
		flex-direction: column;
		align-items: flex-end;
		span.call_us {
			margin-bottom:3px;
			font-size: 12px;
			letter-spacing: 0.2em;
		}
		a.phone {
			position: relative;
			top:3px;
		}
	}
	
	
	.menu_wrapper {
		display: block;
		background: $red;
		width:94px;
		margin-left:30px;
	}
	
	
	
} /* Media Query */

