
body.error404 {
	.content_wrapper {
		
		p {
			max-width:670px;
		}
	}
}

a.goback {
	background: $gold;
	color:#fff;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.28em;
	padding:7px 30px;
	border-radius: 45px;
	cursor: pointer;
	box-shadow: 3px 7px 9px 0px rgba(0,0,0,0.4);
	transition: all 200ms ease-in-out;
	display: inline-block;
	@include proxima_extrabold;
	&:hover {
		background: $red;
	}
}



@media screen and (max-width: 1190px) {
	
	
	
	
	body.error404 {
		.content_wrapper {
			text-align: center;
			p {
				margin-left:auto;
				margin-right:auto;
			}
		}
		.content_header {
			text-align: center;
		}
	}
	
	
	a.goback {
		margin-bottom:15px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	
	body.error404 {
		.content_wrapper {
			p {
				max-width:520px;
			}
		}
	}
	
	
	
} /* Media Query */