
#internal_main {
	padding-bottom:102px;
}

.internal_banner {
	width:100%;
	//min-height:440px;
	position: relative;
	img {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit:cover;
	}
}


.internal_banner_content {
	position: relative;
	z-index: 1;
	padding: 89px 0 89px 73px;
	height:100%;
	max-width: 1580px;
	margin:0 auto;
	//padding-left:73px;
	.internal_banner_header {
		color:#fff;
		display: block;
		font-size: 72px;
		line-height: 80px;
		max-width: 825px;
		@include operetta;
	}
	a.banner_button {
		margin-top:35px;
		background: $red;
		color:#fff;
		text-align: center;
		width:292px;
		display: inline-block;
		text-transform: uppercase;
		padding:28px 37px 24px;
		text-decoration: none;
		font-size: 14px;
		border-radius: 45px;
		letter-spacing: 0.28em;
		box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.3);
		transition: all 300ms ease-in-out;
		@include proxima_black;
		&:hover {
			background: #fff;
			color:$red;
		}
	}
}


.container {
	padding:0 90px;
	min-height: 630px;
}

.container.no_banner {
	text-align: center;
	margin:138px 0 0 0;
}

.internal_content_wrapper {
	max-width: 1580px;
	margin:0 auto;
	padding-left:73px;
	position: relative;
	z-index: 1;
}


.two_col {
	display: flex;
}

.content_wrapper {
	flex-grow: 1;
	margin-top:137px;
	padding-right:145px;
}

.sidebar_wrapper {
	flex-basis:501px;
	flex-shrink: 0;
	margin-top:-120px;
}

.sidebar_box {
	background: $offwhite;
	padding:55px 0px;
	transition: all 200ms ease-in-out;
}

.sidebar_box.active {
	padding:55px 0 0;
}

.sidebarbox_inner {
	h3 {
		text-transform: uppercase;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.15em;
		color:$redlight;
		//display: inline-block;
		padding:0 85px 0 90px;
		cursor: pointer;
		display: flex;
		
		width:calc(100% - 40px);
		//padding-right:85px;
		@include proxima_black;
		&:after {
			content:"";
			margin-top:10px;
			//width:62px;
			height:1px;
			background: $gold;
			margin-left:30px;
			flex-grow:1;
		}
	}
	.widget {
		position: relative;
	}
	span.h3_icon {
		width:12px;
		height:12px;
		position: absolute;
		top:5px;
		right:85px;
		&:before, &:after {
			content:"";
			position: absolute;
			top:0;
			display: block;
			background: $redlight;
		}
		&:before {
			width:12px;
			height:2px;
			top:5px;
			
		}
		&:after {
			width:2px;
			height:12px;
			left:5px;
			transform: scaleY(1);
			transition: transform 300ms ease-in-out;
		}
	}
	span.h3_icon.active {
		&:after {
			transform: scaleY(0);
		}
	}
}



.sidebarbox_inner {
	
	ul {
		list-style: none;
		li {
			font-size: 18px;
			line-height: 24px;
			@include proxima_bold;
			a {
				text-decoration: none;
				display: block;
				color:$black;
				padding: 20px 114px 20px 90px;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$redlight;
				}
			}
		}
		> li.current-menu-item {
			> a {
				color:$redlight;
			}
		}
		> li.current-menu-ancestor {
				> a {
					
				}
				> ul.sub-menu {
					display: block;
					li.current-menu-item {
						a {
							color:$goldlight;
						}
					}
				}
		}
	}
	ul.menu {
		margin-top:31px;
		padding-bottom:30px;
		> li {
			> a {
					&:hover {
						color:#fff;
						background: $bluedark;
						cursor: pointer;
						span.h3_icon {
							&:before, &:after {
								background: #fff;
							}
						}
					}
			}
		}
		> li.menu-item-has-children {
			 > a {
				 position: relative;
				  span.h3_icon {
					  position: absolute;
					  top: 26px;
					  right:85px;
				  }
			 }
			 a.active {
				 background: $bluedark;
				 color:#fff;
				 span.h3_icon {
					 &:before, &:after {
						 background:#fff;
					 }
					 &:after {
						 transform: scaleY(0);
					 }
				 }
			 }
		}
	}
	ul.sub-menu {
		background: $bluelight;
		display: none;
		li {
			a {
				color:#fff;
				transition: all 200ms ease-in-out;
				padding-left:119px;
				&:hover {
					color:$goldlight;
				}
			}
		}
		
	}
}


@media screen and (max-width: 1750px) {
	
	.internal_banner {
		padding:0 90px;
	}
	
	.internal_banner_content {
		padding-left:0px;
	}
	
	.internal_content_wrapper {
		padding-left:0;
	}
	
	
	.content_wrapper {
		padding-right: 85px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	
	
	.container.no_banner {
		margin:110px 0 0 0;
	}
	
	.content_wrapper {	
		margin-top: 110px;
	}
	
	.sidebar_wrapper {
		flex-basis: 400px;
	}
	
	.sidebarbox_inner {
		h3 {
			padding: 0 0px 0 45px;
			width: calc(100% - 78px);
			&:after {
				margin-left: 20px;
			}
		}
		span.h3_icon {
			right:45px;
		}
		ul {
			li {
				a {
					padding: 20px 75px 20px 45px;
				}
			}
		}
		ul.menu {
			> li.menu-item-has-children {
				 > a {
					 span.h3_icon {
						 right: 45px;
					 }
				 }
			}
		}
		ul.sub-menu {
			li {
				a {
					padding-left:70px;
				}
			}
		}
	}
	
	
} /* Media Query */




@media screen and (max-width: 1190px) {
	
	#internal_main {
		padding-bottom: 90px;
	}
	
	.container {
		padding:0 60px;
	}
	
	.content_wrapper {
		padding-right:0;
	}
	
	.sidebar_wrapper {
		margin-top:60px;
	}
	
	.two_col {
		display: block;
	}
	.sidebarbox_inner {
		.widget {
			span.h3_icon {

			} 
		}
		h3 {
			&:after {
				
			}
		}
		
	}
	
} /* Media Query */


@media screen and (max-width: 1180px) {
	
	
	#internal_main {
		padding-top:82px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	#internal_main {
		margin-top:82px;
    padding-top: 60px;
	}
	
	.content_wrapper {
		margin-top:0;
	}
	
	.internal_banner_content {
		display: none;
	}
	
	
	.container.no_banner {
		margin:0px 0 0 0;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	#internal_main {
		margin-top:0;
		padding-top: 35px;
		padding-bottom: 75px;
	}
	
	#internal_main.fixed {
		margin-top:80px;
	}
	
	.container {
		padding:0 30px;
	}
	
	.sidebarbox_inner {
		h3 {
			padding: 0 0 0 30px;
		}
		span.h3_icon {
			right:30px;
		}
		ul {
			li {
				a {
				padding: 20px 60px 20px 30px;
				}
			}
		}
		ul.menu {
			li.menu-item-has-children {
				> a {
					 span.h3_icon {
						 right:30px;
					 }
				}
			}
		}
		ul.sub-menu {
			li {
				a {
					padding-left:40px;
				}
			}
		}
	}
	
	
} /* Media Query */

