

.container.no_banner {
	
}


.pa_directory {
	text-align: left;
	max-width:1490px;
	margin:68px auto 0;
	ul {
		list-style: none;
		li {
			
		}
	}
	ul.menu {
		> li {
				text-transform: uppercase;
				font-size: 20px;
				line-height: 24px;
				letter-spacing: 0.2em;
				@include proxima_black;
				&:last-of-type {
					ul.sub-menu {
						margin-bottom: 0;
					}
				}
				> a {
						color:$redlight;
						display: flex;
						flex-shrink:0;
						margin:0 20px;
						&:after {
							content:"";
							flex-grow:1;
							height:1px;
							background: $gold;
							margin:11px 0 0 33px;
						}
				}
			}
	}
	ul.sub-menu {
		margin:48px 0 69px 0;
		display: flex;
		flex-wrap:wrap;
		li {
			text-transform: none;
			font-size: 18px;
			line-height: 22px;
			letter-spacing: 0.02em;
			flex-basis:calc(25% - 40px);
			margin:0 20px 19px;
			height:44px;
			@include proxima_semibold;
			a {
				color:$black;
				text-decoration: none;
				display: inline-block;
				transition: all 200ms ease-in-out;
				&:after {
					content:"";
					margin-top:2px;
					display: block;
					width:100%;
					height:3px;
					background: transparent;
					transition: all 200ms ease-in-out;
				}
				&:hover {
					color:$gold;
					&:after {
						background: $gold;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 1365px) {
	
	
	
	.pa_directory {
		ul.sub-menu {
			li {
				flex-basis: calc(33% - 40px);
			}
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.pa_directory {
		margin-top:30px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 930px) {
	
	
	.pa_directory {
		ul.sub-menu {
			li {
				flex-basis: calc(50% - 40px);
			}
		}
	}
	
	
} /* Media Query */

@media screen and (max-width: 680px) {
	
	
	.pa_directory {
		ul.menu {
			> li {
				font-size: 18px;
				line-height: 22px;
				 > a {
					 margin:0;
					 &:after {
						 margin: 11px 0 0 13px;
					 }
				 }
			}
		}
		ul.sub-menu {
			display: block;
			margin: 35px 0 50px 0;
			li {
				height:auto;
				margin-left:0;
				margin-right:0;
			}
		}
	}
	
	
} /* Media Query */