

.att_bio_top {
	max-width:1600px;
	margin: 150px auto 0;
	position: relative;
	&:before {
		content:"";
		display: block;
		position: absolute;
		z-index:1;
		top:0;
		left:54px;
		width:calc(100% - 108px);
		height:100%;
		border: 1px solid;
		border-image: $goldgradborder;
	}
	&:after {
		content:"";
		display: block;
		position: absolute;
		top:66px;
		left:0;
		width:100%;
		height:calc(100% - 132px);
		background: $bluegrad;
	}
}


.att_top_inner {
	position: relative;
	z-index:1;
	padding:117px 100px;
	display: flex;
}


.att_bio_left {
	flex-shrink:0;
	img {
		max-width:100%;
		height:auto;
		display: block;
	}
}


.att_bio_right {
	flex-grow:1;
	padding:90px 0 0 60px;
	img.mobile {
		max-width:100%;
		height:auto;
		display: none;
	}
}


h1.att_bio_header {
		font-size: 107px;
		line-height: 114px;
		display: inline-block;
		color:$gold;
		  @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
		  	background: $goldgrad;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
		 	}
		@include operetta;
	}


span.position {
	text-transform: uppercase;
	color:#fff;
	display: block;
	letter-spacing: 0.28em;
	font-size: 18px;
	@include proxima_black;
	display: flex;
	margin-top:25px;
	align-items: center;
	&:before {
		content:"";
		display: block;
		width:44px;
		height:3px;
		background: $red;
		margin-right:34px;
	}
}


.att_top_content {
	color:#fff;
	font-size: 22px;
	line-height: 32px;
	margin-top:82px;
	max-width:775px;
	@include proxima_bold;
	p {
		margin-bottom: 45px;
	}
	a {
		color:$red;
		transition: all 200ms ease-in-out;
		&:hover {
			color:$goldlight;
		}
	}
}


.att_bio_bottom {
	max-width:1600px;
	margin:139px auto 0;
	display: flex;
}

.att_bio_bottom_content {
	flex-grow:1;
	padding:0 150px 0 70px;
}


.sidebar_wrapper.att_bio {
	margin:10px 0 0 0;
	.sidebarbox_inner {
		
		h3 {
			padding: 0 90px;
			&:after {
				margin-left: 15px;
			}
		}
		.widget {
			ul {
				padding: 0 90px 0 93px;
			}
		> ul {
				padding-bottom:10px;
				margin-top:48px;
			> li {
				position: relative;
				padding-left:29px;
				margin-bottom: 44px;
				&:before {
					content:"";
					display: block;
					width:7px;
					height:7px;
					border-radius: 50%;
					background: $redlight;
					position: absolute;
					top:9px;
					left:0;
				}
				ul {
					padding:0;
					margin:20px 0 0 0;
					li {
						margin-bottom: 23px;
						position: relative;
						padding-left:32px;
							&:before {
								content:"+";
								color:$redlight;
								position: absolute;
								top:0;
								left:0;
							}
						 @include proxima_semibold;
					 }
				}
			}
		}
		}
	}
}




@media screen and (max-width: 1760px) {
	
	
	
	h1.att_bio_header {
		font-size: 97px;
		line-height: 107px;
	}

	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	.att_bio_left {
		flex-basis:380px;
	}
	
	.att_bio_img_wrapper {
		
	}
	
	
	.att_bio_right {
    padding: 13px 0 0 60px;
  }
  
  
  .att_bio_bottom_content {
	      padding: 0 85px 0 0px;
  }
  
  .sidebar_wrapper.att_bio {
	  .sidebarbox_inner {
		  h3 {
			  padding: 0 45px;
			  width:100%;
		  }
		  .widget {
			  ul {
				  padding: 0 38px 10px 45px;
			  }
		  }
	  }
  }
	
	
	
} /* Media Query */


@media screen and (max-width: 1390px) {
	
	
	
	.att_bio_bottom {
		display: block;
	}
	
	
	.att_bio_bottom_content {
		padding-right:0;
	}
	
	.sidebar_wrapper.att_bio {
		width:502px;
	}
	
	.sidebar_box {
		padding-left:38px;
		padding-right:38px;
	}
	
	   
	
	
} /* Media Query */


@media screen and (max-width: 1260px) {
	
	
	.att_bio_top {
		margin: 104px auto 0;
		&:before {
			left:45px;
			width:calc(100% - 90px);
		}
		&:after {
			top:45px;
			height:calc(100% - 90px);
		}
	}
	
	.att_bio_left {
		display: none;
	}
	
	.att_bio_right {
		padding:0;
		text-align: center;
		img.mobile {
			display: block;
			margin: 88px auto 0;
			width:100%;
			max-width:396px;
		}
	}
	
	span.position {
		font-size: 16px;
		justify-content: center;
	}
	
	
	h1.att_bio_header {
		font-size: 74px;
		line-height: 78px;
	}
	
	.att_top_content {
		margin: 60px auto 0;
		max-width: 800px;
	}
	
	
	.att_top_inner {
		padding: 153px 100px 78px 100px;
	}
	
	span.position {
		margin-top: 36px;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1190px) {
	
	
	.att_bio_top {
		max-width: 910px;
	}
	
	.att_top_content {
    max-width: 640px;
  }
  
  .sidebar_wrapper.att_bio {
		width:100%;
		margin-top: 58px;
	}
  
/*
  .att_bio_bottom {
	  display: block;
	  max-width: 910px;
	  margin: 99px auto 0;
  }
  
  .att_bio_bottom_content {
	  padding-right:0;
  }
  
  .sidebar_wrapper.att_bio {
	  margin-top: 58px;
	}
*/
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.att_bio_top {
    margin: 7px auto 0;
  }
	
	
	.att_bio_bottom {
		margin: 75px auto 0;
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
.att_bio_top {
	
	&:before {
		left:30px;
		width:calc(100% - 60px);
	}
	&:after {
		top:30px;
		height:calc(100% - 60px);
	}
}

.att_top_content {
	max-width: 530px;
	margin: 40px auto 0;
	font-size: 18px;
	line-height: 25px;
}

.att_top_inner {
	padding: 75px 57px 50px;
}


h1.att_bio_header {
	font-size: 52px;
	line-height: 60px;
}


span.position {
	font-size: 15px;
	display: block;
	margin-top:15px;
	&:before {
		//width:23px;
		margin:0 auto 20px;
	}
}


	.att_bio_bottom {
    margin: 55px auto 0;
	}
	
	
	.sidebar_wrapper.att_bio {
		.sidebarbox_inner {
			h3 {
				padding: 0 30px;
			}
			.widget {
				ul {
					padding: 0 30px 10px;
				}
			}
		}
	}
	
	
	
	.sidebar_box {
		margin-bottom:40px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 390px) {
	
	
	h1.att_bio_header {
		font-size: 40px;
		line-height: 50px;
	}

	
	
} /* Media Query */

