

.att_wrapper {
	max-width:1438px;
	margin:75px auto 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&:after {
		content:"";
		display: block;
		flex-basis: 30.5%;
	}
}


.single_att {
	flex-basis: 30.5%;
	height:678px;
	position: relative;
	margin-bottom: 68px;
	a {
		text-decoration: none;
	}
	&:hover {
		.single_att_img_wrapper {
			.single_overlay_hover {
				opacity: 1;
			}
		}
		.single_profile_pic_wrapper {
			.single_att_overlay {
				opacity: 1;
			}
		}
	}
}

.single_att_img_wrapper {
	height:523px;
	position: relative;
	&:before {
		content:"";
		display: block;
		position: absolute;
		z-index:2;
		top:0;
		left:30px;
		width:calc(100% - 60px);
		height:100%;
		border: 1px solid;
		border-image: $goldgradborder;
	}
	&:after {
		content:"";
		display: block;
		position: absolute;
		top:30px;
		left:0;
		width:100%;
		height:calc(100% - 60px);
		background: $offwhite;
		transition: all 200ms ease-in-out;
	}
}

.single_overlay_hover {
	position: absolute;
	top:30px;
	left:0;
	width:100%;
	height:calc(100% - 60px);
	background: $bluegrad;
	transition: all 200ms ease-in-out;
	z-index:1;
	opacity: 0;
	transition: all 200ms ease-in-out;
}

.single_att_inner {
	position: relative;
	z-index: 3;
	padding:60px 60px;
	img.profile_pic {
		max-width: 100%;
		height: auto;
		display: block;
	}
}

.single_profile_pic_wrapper {
	position: relative;
	.single_att_overlay {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: rgba(8,12,25,0.65);
		display: flex;
		align-items: center;
		justify-content: space-between;
		opacity: 0;
		transition: all 200ms ease-in-out;
		&:before {
			content:"View Profile";
			display: block;
			color:#fff;
			width:100%;
			font-size: 14px;
			letter-spacing: 0.28em;
			text-transform: uppercase;
			@include proxima_black;
		}
	}
}


span.att_title {
	display: block;
	color:$redlight;
	font-size: 32px;
	line-height: 36px;
	margin-top:44px;
	@include operetta;
}

span.att_position {
	display: block;
	font-size: 18px;
	line-height: 29px;
	margin-top:6px;
	color:$black;
	@include proxima_semibold;
}