

.att_wrapper {
	max-width:1438px;
	margin:75px auto -68px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&:after {
		content:"";
		display: block;
		flex-basis: 30.5%;
	}
}


.single_att {
	flex-basis: 30.5%;
	position: relative;
	margin-bottom: 110px;
	a {
		text-decoration: none;
	}
	&:hover {
		.single_att_img_wrapper {
			.single_overlay_hover {
				opacity: 1;
			}
		}
		.single_profile_pic_wrapper {
			img.profile_pic {
				transform: scale(1.1);
			}
			.single_att_overlay {
				opacity: 1;
				&:before {
					opacity: 1;
					transform: translateY(0px);
					transition-delay: 150ms;
				}
			}
		}
	}
}

.single_att_img_wrapper {
	//height:523px;
	position: relative;
	&:before {
		content:"";
		display: block;
		position: absolute;
		z-index:2;
		top:0;
		left:30px;
		width:calc(100% - 60px);
		height:100%;
		border: 1px solid;
		border-image: $goldgradborder;
	}
	&:after {
		content:"";
		display: block;
		position: absolute;
		top:30px;
		left:0;
		width:100%;
		height:calc(100% - 60px);
		background: $offwhite;
		transition: all 200ms ease-in-out;
	}
}

.single_overlay_hover {
	position: absolute;
	top:30px;
	left:0;
	width:100%;
	height:calc(100% - 60px);
	background: $bluegrad;
	transition: all 200ms ease-in-out;
	z-index:1;
	opacity: 0;
	transition: all 400ms ease-in-out;
}

.single_att_inner {
	position: relative;
	z-index: 3;
	padding:60px 60px;
	.single_profile_pic_wrapper {
		overflow: hidden;
	}
	img.profile_pic {
		max-width: 100%;
		height: auto;
		display: block;
		margin:0 auto;
		transform: scale(1);
		transition: all 800ms cubic-bezier(.17,.66,.34,.98);
	}
}

.single_profile_pic_wrapper {
	position: relative;
	.single_att_overlay {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: rgba(8,12,25,0.65);
		display: flex;
		align-items: center;
		justify-content: space-between;
		opacity: 0;
		transition: all 400ms ease-in-out;
		&:before {
			content:"View Profile";
			display: block;
			color:#fff;
			width:100%;
			font-size: 14px;
			letter-spacing: 0.28em;
			text-transform: uppercase;
			opacity: 0;
			transform: translateY(-10px);
			transition: opacity 300ms ease-in-out, transform 1000ms cubic-bezier(.17,.66,.34,.98) ;
			@include proxima_black;
		}
	}
}


span.att_title {
	display: block;
	color:$redlight;
	font-size: 32px;
	line-height: 36px;
	margin-top:44px;
	@include operetta;
}

span.att_position {
	display: block;
	font-size: 18px;
	line-height: 29px;
	margin-top:6px;
	color:$black;
	@include proxima_semibold;
}


@media screen and (max-width: 1390px) {
	
	
	
.att_wrapper {
	max-width: 1068px;
	&:after {
		display: none
	}
}


.single_att {
	flex-basis:47%;
}
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.att_wrapper {
		margin-top:30px;
	}
	
	.single_att {
    margin-bottom: 85px;
  }
	
} /* Media Query */


@media screen and (max-width: 865px) {
	
	
	.att_wrapper {
		display: block;
		max-width: 525px;
	}
	
	
	.single_att {
		margin-bottom: 55px;
	}
	
	
	span.att_title {
		margin-top: 30px;
	}
	
	
	
	
	
} /* Media Query */