

.container.no_banner {
	
}


.pa_directory {
	text-align: left;
	max-width:1490px;
	margin:68px auto 0;
	ul {
		list-style: none;
		li {
			
		}
	}
	ul.menu {
		> li {
				text-transform: uppercase;
				font-size: 20px;
				line-height: 24px;
				letter-spacing: 0.2em;
				@include proxima_black;
				&:last-of-type {
					ul.sub-menu {
						margin-bottom: 0;
					}
				}
				> a {
						color:$redlight;
						display: flex;
						flex-shrink:0;
						margin:0 20px;
						&:after {
							content:"";
							flex-grow:1;
							height:1px;
							background: $gold;
							margin:11px 0 0 33px;
						}
				}
			}
	}
	ul.sub-menu {
		margin:48px 0 69px 0;
		display: flex;
		flex-wrap:wrap;
		li {
			text-transform: none;
			font-size: 18px;
			line-height: 22px;
			letter-spacing: 0.02em;
			flex-basis:calc(25% - 40px);
			margin:0 20px 19px;
			height:44px;
			@include proxima_semibold;
			a {
				color:$black;
				text-decoration: none;
				display: inline-block;
				&:after {
					content:"";
					margin-top:2px;
					display: block;
					width:100%;
					height:3px;
					background: transparent;
					transition: all 200ms ease-in-out;
				}
				&:hover {
					&:after {
						background: $gold;
					}
				}
			}
		}
	}
}


/*
.sec_four_logos {
	display: flex;
	flex-wrap:wrap;
	margin:85px 0px 0px 0px;
	.sec_four_single_logo {
		flex-basis:calc(25% - 40px);
		display: flex;
		justify-content: center;
		align-items: center;
		height:140px;
		background:red;
		margin:0 20px 55px;
		img {
			display: block;
			max-width:100%;
			height:auto;
			
		}
	}
}
*/