
.cr_wrapper {
	max-width:1625px;
	margin:198px auto 0;
}

.row_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: $offwhite;
	height:445px;
	margin-bottom: 245px;
	padding:0 90px;
	&:after {
		content:"";
		display: block;
		flex-basis: 30.5%;
	}
	&:last-of-type {
		margin-bottom:50px;
	}
}

.single_cr {
	height:475px;
	flex-basis: 30.5%;
	margin-top:-123px;
	position: relative;
	&:before {
		content:"";
		display: block;
		position: absolute;
		z-index:1;
		top:0;
		left:32px;
		width:calc(100% - 64px);
		height:100%;
		border: 1px solid;
		border-image: $goldgradborder;
	}
	&:after {
		content:"";
		display: block;
		position: absolute;
		top:28px;
		left:0;
		width:100%;
		height:calc(100% - 56px);
		background: #fff;
	}
	.single_cr_inner {
		padding:0 70px;
		position: relative;
		z-index: 1;
		span {
			display: block;
		}
		span.amount {
			font-size: 80px;
			color:$redlight;
			margin-top:140px;
			@include operetta;
		}
		span.cr_content {
			font-size: 20px;
			line-height: 32px;
			max-width: 293px;
			margin:49px auto 0;
			@include proxima_semibold;
		}
	}
}



@media screen and (max-width: 1500px) {
	
	
	
	.row_wrap {
		padding:0 50px;
	}
	
	.single_cr {
		.single_cr_inner {
			span.amount {
				font-size: 69px;
				margin-top: 127px;
			}
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1360px) {
	
	
	.single_cr {
		flex-basis:47%;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	.cr_wrapper {
		margin-top: 155px;
	}
	
	
	
	
} /* Media Query */

@media screen and (max-width: 995px) {
	
	.cr_wrapper {
		max-width:600px;
		margin:30px auto 0;
	}
	
	.row_wrap {
		display: block;
		height:auto;
		background: transparent;
		padding:0;
		margin:0;
		&:last-of-type {
			margin-bottom: 0;
			.single_cr {
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
	
	.single_cr {
		margin-top:0;
		margin-bottom: 65px;
		height:auto;
		&:last-of-type {
			
		}
		&:after {
			background:$offwhite;
		}
		.single_cr_inner {
			padding:90px 70px 90px;
			span.amount {
				margin-top:0;
			}
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.single_cr {
		margin-bottom: 45px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 405px) {
	
	
	
	.single_cr {
		.single_cr_inner {
			span.amount {
				font-size: 55px;
			}
		}
	}
	
	
} /* Media Query */