
.internal_banner {
	width:100%;
	height:440px;
	position: relative;
	img {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit:cover;
	}
}


.internal_banner_content {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height:100%;
	max-width: 1580px;
	background: pink;
	margin:0 auto;
	padding-left:73px;
	.internal_banner_header {
		color:#fff;
		display: block;
		font-size: 72px;
		line-height: 80px;
		max-width: 825px;
		@include operetta;
	}
	a.banner_button {
		margin-top:35px;
		background: $red;
		color:#fff;
		text-align: center;
		width:292px;
		display: inline-block;
		text-transform: uppercase;
		padding:28px 37px 24px;
		text-decoration: none;
		font-size: 14px;
		border-radius: 45px;
		letter-spacing: 0.28em;
		box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.3);
		transition: all 300ms ease-in-out;
		@include proxima_black;
		&:hover {
			background: #fff;
			color:$red;
		}
	}
}