


.about_top_wrapper {
	max-width:1450px;
	margin:0 auto;
	display: flex;
	text-align: left;
}

.about_left {
	flex-grow:1;
	padding-right: 155px;
	.about_video_wrapper {
		display: none;
	}
}

	h1.about_header {
		font-size: 135px;
		line-height: 146px;
		display: inline-block;
		color:$gold;
		max-width: 605px;
		@include operetta;
		  @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
		  	background: $goldgrad;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
		 	}
	}


.about_intro_wrapper {
	font-size: 27px;
	line-height: 42px;
	color:$bluelight;
	padding:33px 0 0;
	@include proxima_bold;
	p {
		margin-bottom: 35px;
	}
	a {
		color:$redlight;
		transition: all 200ms ease-in-out;
		&:hover {
			color:$gold;
		}
	}
}

.about_top_content {
	padding:18px 0 0;
}


.about_right {
	flex-basis:531px;
	flex-shrink:0;
	margin-top:83px;
}

.about_video_wrapper {
	a {
		text-decoration: none;
	}
	&:hover {
		.about_video_thumb {
			.about_video_overlay {
				background: rgba(23, 51, 85, 0.8);
				img.about_thumb {
					//transform: scale(1.1);
				}
				svg#play_button {
					.st0-play {
						fill: #fff;
					}
					.st1-play {
						fill:$red;
					}
				}
			}
		}
	}
}

.about_video_thumb {
	position: relative;
	img.about_thumb {
		max-width:100%;
		height: auto;
		display: block;
		//transform: scale(1);
	}
	.about_video_overlay {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: rgba(23, 51, 85, 0);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 400ms ease-in-out;
		svg#play_button {
			width:145px;
			height:145px;
			.st0-play, .st1-play {
				transition: all 400ms ease-in-out;
			}
		}
	}
}


span.about_video_description {
	font-size: 18px;
	line-height: 36px;
	color:#212d3d;
	display: flex;
	max-width: 425px;
	margin-top:15px;
	@include proxima_extrabold;
	&:before {
		content:"";
		display: block;
		flex-shrink:0;
		width:44px;
		height:3px;
		margin-top:15px;
		margin-right:20px;
		background:$redlight;
	}
}


.about_blockquote {
	max-width:1328px;
	margin:90px auto 0;
	position: relative;
	&:before {
		content:"";
		display: block;
		position: absolute;
		z-index:1;
		top:0;
		left:50px;
		width:calc(100% - 100px);
		height:100%;
		border: 1px solid;
		border-image: $goldgradborder;
	}
	&:after {
		content:"";
		display: block;
		position: absolute;
		top:50px;
		left:0;
		width:100%;
		height:calc(100% - 100px);
		background: $offwhite;
	}
}

.about_blocquote_inner {
	position: relative;
	z-index:1;
	padding: 165px 159px 155px;
	span.about_blockquote_title {
		text-transform: uppercase;
		display: block;
		color:$red;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.2em;
		margin-bottom:40px;
		@include proxima_black;
	}
	.about_blockquote_content {
		font-size: 30px;
		line-height: 50px;
		color:$black;
		@include operetta;
		p {
			margin-bottom:45px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}


.about_bottom_wrapper {
	text-align: left;
	max-width:1450px;
	margin:115px auto 0;
	display: flex;
	justify-content: space-between;
}

.about_bottom_wrapper.content {
	h2 {
		padding-top:0;
	}
}



.about_col {
	flex-basis: 47.5%;
}


@media screen and (max-width: 1450px) {
	
	
	.about_top_wrapper {
		padding:0 30px;
	}
	
	.about_left {
		padding-right: 55px;
	}
	
	
	.about_bottom_wrapper {
		display: block;
		max-width: 775px;
		margin-bottom:-30px;
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 1405px) {
	
	
	.about_top_wrapper {
		display: block;
	}
	
	.about_left {
		flex-basis: 728px;
		flex-shrink: 0;
		padding-right:0;

		.about_video_wrapper {
			display: block;
			flex-basis: 405px;
			flex-shrink: 0;
		}
	}
	
	
	.about_video_thumb {
		.about_video_overlay {
			svg#play_button {
				width:115px;
				height:115px;
			}
		}
	}
	
	.about_left_inner {
		display: flex;
		justify-content: space-between;
	}	
	
	.about_left_content {
		flex-basis:630px;
		flex-shrink:0;
		position: relative;
		z-index:1;
	}
	
	.about_right {
		display: none;
	}
	
	
	.about_top_content {
		max-width: 775px;
		margin-left:auto;
		margin-right:auto;
	}
		
	
} /* Media Query */


@media screen and (max-width: 1345px) {
	
	.about_top_wrapper {
		padding:10px 60px 0 45px;
	}
	
	.about_left {
		.about_video_wrapper {
			margin-left:-20px;
		}
	}
	
	.about_video_thumb {
		.about_video_overlay {
			svg#play_button {
				width:111px;
				height:111px;
				margin-top:-60px;
			}
		}
	} 
	
	.about_intro_wrapper {
		max-width:calc(100% - 100px);
	}
	
	body.page-template-template-about {
	.container {
		padding:0px 60px;
	}
}

h1.about_header {
	padding-top:9px;
}

.about_intro_wrapper {
	padding: 52px 0 0;
}

.about_top_content {
	padding-top:64px;	
}	



.about_blockquote {
	margin: 107px auto 0;
}


.about_blocquote_inner {
	padding: 165px 121px 155px;
}


	
} /* Media Query */


@media screen and (max-width: 1190px) {
	
	
	.about_top_wrapper {
		padding:0px;
	}
	
	.about_left {
		.about_video_wrapper {
			max-width:470px;
			margin:75px auto 0;
		}
	}
	
	.about_left_inner {
		display: block;
	}
	
	
	.about_intro_wrapper {
    padding: 41px 0 0;
	}

	.about_top_content {
    padding-top: 35px;
	}
	
	
	.about_blockquote {
    margin: 78px auto 0;
    &:before {
	    left:30px;
	    width:calc(100% - 60px);
    }
    &:after {
	    top:30px;
	    height:calc(100% - 60px);
    }
	}
	
	
	.about_blocquote_inner {
		padding: 113px 159px 110px;
		span.about_blockquote_title {
			font-size: 18px;
		}
		.about_blockquote_content {
			font-size: 26px;
			line-height: 44px;
		}
	}
	
	
	.about_bottom_wrapper {
		margin: 87px auto -52px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	
	h1.about_header {
    padding-top: 10px;
    font-size: 125px;
		line-height: 136px;
		max-width:575px;
	}
	
	
	.about_intro_wrapper {
		font-size: 25px;
		line-height: 40px;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1000px) {
	
	
	.about_intro_wrapper {
		padding: 29px 0 0;
		max-width:100%;
	}
	
	
	.about_blocquote_inner {
		padding: 113px 77px 110px;
	}
	    
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	body.page-template-template-about {
		.container {
			padding:0 30px;
		}
	}
	
	
	h1.about_header {
    font-size: 21px;
		line-height: 33px;
    max-width: 355px;
    padding-top: 18px;
   
	}
	
	.about_intro_wrapper {
		padding: 26px 0 0;
		font-size: 21px;
		line-height: 33px;
	}
	
	
	.about_left {
		.about_video_wrapper {
			margin: 61px auto 0;
		}
	}
	
	.about_video_thumb {
		.about_video_overlay {
			svg#play_button {
				width:92px;
				height:92px;
				margin-top:5px;
			}
		}
	}
	
	
	span.about_video_description {
		font-size: 16px;
		line-height: 28px;
	}
	
	.about_top_content {
		padding-top:18px;
	}
	
	
	.about_blockquote {
    margin: 56px auto 0;
	}
	
	.about_bottom_wrapper {
    margin: 59px auto -52px;
	}
	
	
	
} /* Media Query */

@media screen and (max-width: 767px) {
	
	.about_blockquote {
		&:before {
			left: 20px;
			width: calc(100% - 40px);
		}
		&:after {
			top:20px;
			height:calc(100% - 40px);
		}
	}
	
	.about_blocquote_inner {
    padding: 91px 50px 56px;
		span.about_blockquote_title {
	    font-size: 16px;
	    line-height: 24px;
	    margin-bottom: 34px;
   	}
    .about_blockquote_content {
	    font-size: 18px;
			line-height: 30px;
	    margin-bottom: 35px;
    }
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 388px) {
	
	
	
	h1.about_header {
		font-size: 65px;
		line-height: 75px;
		max-width: 305px;
	}
	
	
} /* Media Query */
