

.testimonial_page_wrapper {
	display: flex;
	justify-content: space-between;
	max-width: 1515px;
	margin:75px auto 0;
}

.testi_col {
	flex-basis: 46%;
}

.single_testi {
	width:100%;
	position: relative;
	text-align: left;
	margin-bottom:90px;
	&:last-of-type {
		margin-bottom:47px;
	}
	&:before {
		content:"";
		display: block;
		position: absolute;
		z-index:1;
		top:0;
		left:50px;
		width:calc(100% - 100px);
		height:100%;
		border: 1px solid;
		border-image: $goldgradborder;
	}
	&:after {
		content:"";
		display: block;
		position: absolute;
		top:50px;
		left:0;
		width:100%;
		height:calc(100% - 100px);
		background: $offwhite;
	}
	.single_testi_inner {
		padding:142px 120px 136px;
		position: relative;
		z-index:1;
		margin:0 auto;
		img {
			width:203px;
			height:23px;
		}
		span.tesi_quote {
			color:$redlight;
			display: block;
			font-size:50px;
			line-height: 70px;
			margin-top:31px;
			margin-bottom:41px;
			padding-right:38px;
			@include operetta;
		}
		span.testi_name {
			display: block;
			color:$redlight;
			text-transform: lowercase;
			font-size: 18px;
			line-height: 22px;
			@include proxima_extrabold;
		}
	}
}


@media screen and (max-width: 1620px) {
	
	
	.testi_col {
		flex-basis:47%;
	}
	
	.single_testi {
		.single_testi_inner {
			span.tesi_quote {
				padding-right:0;
			}
		}
	} 
	
	
	
} /* Media Query */

@media screen and (max-width: 1490px) {
	
	
	.single_testi {
		.single_testi_inner {
			padding: 120px 90px;
			span.tesi_quote {
				
			}
		}
	} 

	
	
	
} /* Media Query */


@media screen and (max-width: 1360px) {
	
	
	.single_testi {
		.single_testi_inner {
			span.tesi_quote {
				font-size: 45px;
				line-height: 63px;
			}
		}
	} 
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1310px) {
	
	
	
	.single_testi {
		.single_testi_inner {
			span.tesi_quote {
				font-size: 40px;
				line-height: 57px;
			}
		}
	} 

	
	
} /* Media Query */

@media screen and (max-width: 1145px) {
	
	
	
	.testimonial_page_wrapper {
		display: block;
		max-width: 765px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	.testimonial_page_wrapper {
		margin-top:30px;
	}
	
	.testi_col {
		&:last-of-type {
			.single_testi {
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
	
	.single_testi {
		&:last-of-type {
			margin-bottom: 90px;
		}
		&:before {
			left:30px;
			width:calc(100% - 60px);
		}
		&:after {
			top:30px;
			height:calc(100% - 60px);
		}
		.single_testi_inner {
			padding-left:90px;
			padding-right:90px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.single_testi {
		margin-bottom:60px;
		&:last-of-type {
			margin-bottom:60px;
		}
		.single_testi_inner {
			padding: 85px 55px 90px;
			span.tesi_quote {
				font-size: 32px;
				line-height: 40px;
				 margin-bottom: 25px;
			}
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 400px) {
	
	
	
	.single_testi {
		.single_testi_inner {
			padding: 85px 60px 90px;
			img {
				width:150px;
				height:17px;
			}
		}
	}
	
	
	
} /* Media Query */