

.blog_sidebar_wrapper {
	flex-basis:502px;
	flex-shrink: 0;
	margin-top:148px;
}



.sidebar_blog {
	position: relative;
	z-index:1;
	padding: 86px 0px;
	&:before {
		content:"";
		display: block;
		position: absolute;
		z-index:1;
		top:0;
		left:30px;
		width:calc(100% - 60px);
		height:100%;
		border: 1px solid;
		border-image: linear-gradient(116deg, rgb(252,179,110), rgb(183,120,62)) 1;
		z-index: -1;
		pointer-events: none;
	}
	&:after {
		content:"";
		display: block;
		position: absolute;
		top:30px;
		left:0;
		width:100%;
		height:calc(100% - 60px);
		background: $offwhite;
		z-index: -2;
	}
	h3 {
		text-transform: uppercase;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.15em;
		color:$redlight;
		//display: inline-block;
		padding:0 0px 0 90px;
		cursor: pointer;
		padding:0 85px 0 90px;
		display: flex;
		width:calc(100% - 40px);
		@include proxima_black;
		&:after {
			content:"";
			//display: inline-block;
			//vertical-align: top;
			margin-top:10px;
			//width:62px;
			height:1px;
			background: $gold;
			margin-left:30px;
			flex-grow:1;
		}
	}
	.widget {
		position: relative;
	}
	span.h3_icon {
		width:12px;
		height:12px;
		margin-left:30px;
		position: absolute;
		top:5px;
		right:85px;
		//display: inline-block;
		&:before, &:after {
			content:"";
			position: absolute;
			top:0;
			display: block;
			background: $redlight;
		}
		&:before {
			width:12px;
			height:2px;
			top:5px;
			
		}
		&:after {
			width:2px;
			height:12px;
			left:5px;
			transform: scaleY(1);
			transition: transform 300ms ease-in-out;
		}
	}
	span.h3_icon.active {
		&:after {
			transform: scaleY(0);
		}
	}
}



.sidebar_blog {
	
	ul {
		list-style: none;
		li {
			font-size: 18px;
			line-height: 24px;
			@include proxima_bold;
			a {
				text-decoration: none;
				display: block;
				color:$black;
				padding: 20px 114px 20px 57px;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$redlight;
				}
			}
		}
		> li.current-menu-item {
			> a {
				color:$redlight;
			}
		}
		> li.current-menu-ancestor {
				> a {
					
				}
				> ul.sub-menu {
					display: block;
					li.current-menu-item {
						a {
							color:$goldlight;
						}
					}
				}
		}
	}
	.widget.active {
		padding-bottom: 40px;
	}
	.widget {
		padding-bottom:90px;
		transition: all 200ms ease-in-out;
		&:last-of-type {
			padding-bottom:0;
			> ul {
					
			}
		}
		> ul {
			margin-top:31px;
			padding:0 32px;
		}
	}
	ul {
		> li.active {
			 > a {
				 	color:$gold;
			 }
		}
		> li {
			> a {
					&:hover {
						color:#fff;
						background: $bluedark;
						cursor: pointer;
					}
			}
			
		}
		> li.menu-item-has-children {
			 > a {
				 position: relative;
				 &:hover {
					 span.h3_icon {
						 &:before, &:after {
							 background: #fff;
						 }
					 }
				 }
				  span.h3_icon {
					  position: absolute;
					  top: 26px;
					  right:55px;
				  }
			 }
			 a.active {
				 background: $bluedark;
				 color:#fff;
				 span.h3_icon {
					 &:before, &:after {
						 background:#fff;
					 }
					 &:after {
						 transform: scaleY(0);
					 }
				 }
			 }
		}
	}
	ul.sub-menu {
		background: $bluelight;
		display: none;
		li {
			a {
				color:#fff;
				transition: all 200ms ease-in-out;
				padding-left: 87px;
				padding-right: 84px;
				&:hover {
					color:$goldlight;
				}
			}
		}
		
	}
}

.blog_feed {
	padding-top:5px;
}

.blog_post {
	border-bottom: 1px solid $gold;
	padding-bottom: 95px;
	margin-bottom: 80px;
	&:last-of-type {
		margin-bottom: 10px;
	}
	h2 {
		font-size: 35px;
		line-height: 48px;
		padding-top:0;
		padding-bottom:19px;
		display: inline-block;
		a {
			text-decoration: none;
			color:$redlight;
			transition: all 200ms ease-in-out;
		}
	}
	
}


.meta_data {
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 0.2em;
		color:$gold;
		line-height: 24px;
		padding-bottom:39px;
		@include proxima_extrabold;
		span {
			display: inline;
		}
		ul {
			display: inline;
			padding-left:0;
			li {
				padding-left:0;
				display: inline;
				&:before {
					display: none;
				}
				a {
					color:$gold;
					text-decoration: none;
					transition: all 200ms ease-in-out;
					&:before {
						content:"|";
						padding:0 17px 0 15px;
					}
					&:hover {
						color:$redlight;
					}
				}
			}
		}
	}


a.read_more {
	background: $gold;
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 0.28em;
	padding:6px 33px;
	display: inline-block;
	margin-top:50px;
	border-radius: 45px;
	transition: all 200ms ease-in-out;
	box-shadow: $boxshadow;
	@include proxima_extrabold;
	&:hover {
		background: $red;
		color:#fff;
	}
}


#nav-below {
	display: flex;
	align-items: center;
	a {
		font-size: 17px;
		text-transform: lowercase;
		text-decoration: none;
		color:$black;
		transition: all 200ms ease-in-out;
		@include proxima_bold;
		&:hover {
			color:$gold;
		}
	}
	.nav-previous {
		&:after {
			content:"";
			width:12px;
			height:12px;
			display: inline-block;
			background: url(#{$themePath}images/icon-arrow-down-gold.svg) no-repeat;
			background-size: 12px;
			transform: rotate(-90deg);
			margin-left:10px;
		}
	}
	.nav-next {
		&:before {
			content:"";
			width:12px;
			height:12px;
			display: inline-block;
			background: url(#{$themePath}images/icon-arrow-down-gold.svg) no-repeat;
			background-size: 12px;
			transform: rotate(90deg);
			margin-right:10px;
		}
		&:after {
			content:"|";
			padding:0 20px;
		}
	}
}


.pagination {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.navigation {
	position: relative;
	top:4px;
	ul {
		display: inline;
		margin:0;
		display: flex;
		li.myprev, li.mynext {
			display: none;
		}
		li {
			padding:0 8px;
			margin:0;
			&:before {
				display: none;
			}
			a {
				font-size: 17px;
				line-height: 18px;
				text-decoration: none;
				color:$black;
				transition: all 200ms ease-in-out;
				@include proxima_bold;
				&:hover {
					color:$gold;
				}
			}
		}
		li.active {
			a {
				color:$gold;
			}
		}
	}
}


@media screen and (max-width: 1450px) {
	
	
	
	.blog_sidebar_wrapper {
		flex-basis:480px;
	}
	
	.sidebar_blog {
		h3 {
			padding: 0 90px 0 70px;
		}
		ul {
			li {
				a {
					padding: 20px 89px 20px 37px;
				}
			}
		}
		ul.sub-menu {
			li {
				a {
					padding-left: 55px;
				}
			}
		}
	}
	
	
	   
	
	
	
} /* Media Query */


@media screen and (max-width: 1190px) {
	
	.blog_sidebar_wrapper {
		margin-top: 66px;
	}
	
	

	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.sidebar_blog {
		.widget {
	  	padding-bottom:55px;
    }
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	.blog_post {
		padding-bottom: 60px;
    margin-bottom: 50px;
    .meta_data {
	    padding-bottom: 25px;
    }
	}
	
	
	.meta_data {
		span.date {
			display: block;
		}
		ul {
			li {
				a {
					&:before {
						display: none;
					}
					&:after {
						content:"|";
						padding: 0 8px 0 15px;
					}
				}
				&:last-of-type {
					a {
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
	
	a.read_more {
		margin-top: 35px;
	}
	
	
/*
	.pagination {
		display: block;
		//text-align: center;
		#nav-below {
			justify-content: center;
		}
	}
	
	.navigation {
		ul {
			display: block;
			text-align: center;
			//justify-content: center;
			li {
				display: inline-block;
			}
		}
	}
*/
	
		.blog_sidebar_wrapper {
	    margin-top: 55px;
		}
		
		.sidebar_blog {
			h3 {
    		padding: 0 40px 0 55px;
    		&:after {
	    		margin-left: 10px;
    		}
    	}
    	.widget {
	    	padding-bottom:35px;
    	}
    	span.h3_icon {
	    	right:55px;
    	}
    	ul {
	    	li {
		    	a {
			    	padding: 20px 80px 20px 23px;
		    	}
	    	}
	    	> li.menu-item-has-children {
		    	> a {
			    	span.h3_icon {
				    	right: 24px;
			    	}
		    	}
	    	}
    	}
    	ul.sub-menu {
	    	li {
		    	a {
			    	padding-left: 29px;
		    	}
	    	}
    	}
		}
		
		#nav-below {
			.nav-next {
				&:after {
					padding: 0 10px;
				}
			}
		}
		
		    
		
		
		
	
} /* Media Query */


@media screen and (max-width: 410px) {
	
	
	.sidebar_blog {
		h3 {
			&:after {
				display: none;
			}
		}
	}
	
	
} /* Media Query */

