

.blog_sidebar_wrapper {
	flex-basis:502px;
	flex-shrink: 0;
	margin-top:148px;
}



.sidebar_blog {
	position: relative;
	z-index:1;
	padding: 86px 0px;
	&:before {
		content:"";
		display: block;
		position: absolute;
		z-index:1;
		top:0;
		left:32px;
		width:calc(100% - 64px);
		height:100%;
		border: 1px solid;
		border-image: linear-gradient(116deg, rgb(252,179,110), rgb(183,120,62)) 1;
		z-index: 1;
		pointer-events: none;
	}
	&:after {
		content:"";
		display: block;
		position: absolute;
		top:28px;
		left:0;
		width:100%;
		height:calc(100% - 56px);
		background: $offwhite;
		z-index: -2;
	}
	h3 {
		text-transform: uppercase;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.15em;
		color:$redlight;
		//display: inline-block;
		padding:0 0px 0 90px;
		cursor: pointer;
		padding:0 85px 0 90px;
		display: flex;
		width:calc(100% - 40px);
		@include proxima_black;
		&:after {
			content:"";
			//display: inline-block;
			//vertical-align: top;
			margin-top:10px;
			width:62px;
			height:1px;
			background: $gold;
			margin-left:30px;
			flex-grow:1;
		}
	}
	.widget {
		position: relative;
	}
	span.h3_icon {
		width:12px;
		height:12px;
		margin-left:30px;
		position: absolute;
		top:5px;
		right:85px;
		//display: inline-block;
		&:before, &:after {
			content:"";
			position: absolute;
			top:0;
			display: block;
			background: $redlight;
		}
		&:before {
			width:12px;
			height:2px;
			top:5px;
			
		}
		&:after {
			width:2px;
			height:12px;
			left:5px;
			transform: scaleY(1);
			transition: transform 300ms ease-in-out;
		}
	}
	span.h3_icon.active {
		&:after {
			transform: scaleY(0);
		}
	}
}



.sidebar_blog {
	ul {
		list-style: none;
		li {
			font-size: 18px;
			line-height: 24px;
			@include proxima_bold;
			a {
				text-decoration: none;
				display: block;
				color:$black;
				padding: 20px 114px 20px 90px;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$redlight;
				}
			}
		}
		> li.current-menu-item {
			> a {
				color:$redlight;
			}
		}
		> li.current-menu-ancestor {
				> a {
					
				}
				> ul.sub-menu {
					display: block;
					li.current-menu-item {
						a {
							color:$goldlight;
						}
					}
				}
		}
	}
	.widget.active {
		padding-bottom: 40px;
	}
	.widget {
		padding-bottom:90px;
		transition: all 200ms ease-in-out;
		&:last-of-type {
			padding-bottom:0;
			> ul {
				
			}
		}
		> ul {
			margin-top:31px;
			
		}
	}
	ul {
		
		> li {
			> a {
					&:hover {
						color:$red;
						cursor: pointer;
					}
			}
		}
		> li.menu-item-has-children {
			 > a {
				 position: relative;
				  span.h3_icon {
					  position: absolute;
					  top: 26px;
					  right:85px;
				  }
			 }
			 a.active {
				 background: $bluedark;
				 color:#fff;
				 span.h3_icon {
					 &:before, &:after {
						 background:#fff;
					 }
					 &:after {
						 transform: scaleY(0);
					 }
				 }
			 }
		}
	}
	ul.sub-menu {
		background: $bluelight;
		display: none;
		li {
			a {
				color:#fff;
				transition: all 200ms ease-in-out;
				padding-left:119px;
				&:hover {
					color:$goldlight;
				}
			}
		}
		
	}
}

.blog_feed {
	padding-top:5px;
}

.blog_post {
	border-bottom: 1px solid $gold;
	padding-bottom: 95px;
	margin-bottom: 80px;
	h2 {
		font-size: 35px;
		line-height: 48px;
		padding-top:0;
		padding-bottom:19px;
		display: inline-block;
		a {
			text-decoration: none;
			color:$redlight;
			transition: all 200ms ease-in-out;
		}
	}
	.meta_data {
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 0.2em;
		color:$gold;
		line-height: 24px;
		padding-bottom:39px;
		@include proxima_extrabold;
		span {
			display: inline;
		}
		ul {
			display: inline;
			padding-left:0;
			li {
				padding-left:0;
				display: inline;
				&:before {
					display: none;
				}
				a {
					color:$gold;
					text-decoration: none;
					transition: all 200ms ease-in-out;
					&:before {
						content:"|";
						padding:0 17px 0 15px;
					}
					&:hover {
						color:$redlight;
					}
				}
			}
		}
	}
}


a.read_more {
	background: $gold;
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 0.28em;
	padding:6px 33px;
	display: inline-block;
	margin-top:50px;
	border-radius: 45px;
	transition: all 200ms ease-in-out;
	box-shadow: 3px 7px 9px 0px rgba(0,0,0,0.4);
	@include proxima_extrabold;
	&:hover {
		background: $red;
	}
}

