$themePath: '/wp-content/themes/callahan/';



// fonts


// operretta

@mixin operetta {
	font-family: operetta-18,serif;
	font-weight: 600;
	font-style: normal;
}

// proxima

@mixin proxima_reg {
	font-family: proxima-nova,sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin proxima_semibold {
	font-family: proxima-nova,sans-serif;
	font-weight: 600;
	font-style: normal;
}

@mixin proxima_bold {
	font-family: proxima-nova,sans-serif;
	font-weight: 700;
	font-style: normal;
}

@mixin proxima_extrabold {
	font-family: proxima-nova,sans-serif;
	font-weight: 800;
	font-style: normal;
}

@mixin proxima_black {
	font-family: proxima-nova,sans-serif;
	font-weight: 900;
	font-style: normal;
}


// colors


$bluelight: #21436d;
$bluedark: #173355;
$bluegrad: linear-gradient(58deg, #21436d 0%,#173355 100%);

$redlight: #f62300;
$red: #e32202;

$goldlight: #fcb36e;
$gold: #b7783e;
$goldgrad: linear-gradient(140deg, #fcb36e 40%, #b7783e 70%);

$offwhite: #faf7f0;

$black: #242220;





